html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  font: 14px/1.2 $AvenirNextMedium;
  color: $default_t_color;
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cb {
  clear: both;
}

.mb {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.main_content {

  &._inner {
    @include respond-to-max($resp_step_3) {
      padding-top: 40px;
    }

    @include respond-to-max($resp_step_2) {
      padding-top: 28px;
    }

    @include respond-to-max($resp_step_1) {
      padding-top: 10px;
    }
  }
}

.wrapper {
  position: relative;
  padding-top: 90px;
  min-height: 100%;
  overflow: hidden;

  @include respond-to-max($resp_step_1) {
    &._trends {
      .show_more_block {
        margin-top: -10px;
        padding: 0 0 40px;
      }
    }
  }

  @include respond-to-max($resp_step_2) {
    &._trends {
      .filter_collapse {
        padding: 40px 30px;
      }
    }
  }

  &._trend {
    .mCSB_scrollTools_vertical {
      a {
        @extend %icon_pseudo;
      }
    }
  }

  @include respond-to-min($resp_step_1) {
    padding-top: 112px;

    &._trend {
      //height: 100%;
      //min-height: 600px;

      .section_inner {
        position: relative;
      }

      .trend_scroller,
      .section_inner,
      .base {
        //height: 100%;
      }

      .main_content {
        //overflow: hidden;
        //height: 100%;
      }

      .mCSB_scrollTools_vertical {
        a {
          display: none !important;
          left: -4px;
          width: 24px;
          height: 24px;
          font-size: 24px;
          line-height: 24px;
          text-align: center;
          color: #000;
        }

        .mCSB_buttonDown {
          &:before {
            content: $i-arrow_down;
          }
        }

        .mCSB_buttonUp {
          bottom: 40px;

          &:before {
            content: $i-arrow_up;
          }
        }
      }

      .mCSB_scrollTools {
        right: 4px;

        .mCSB_dragger .mCSB_dragger_bar {
          width: 1px;
        }

        .mCSB_draggerRail:before {
          margin-left: -1px;
          width: 1px;
          background: #d8d8d8;
        }

        a + .mCSB_draggerContainer {
          margin: 120px 0;
        }
      }

      .trend_image_progress {
        margin: 120px 0;
      }
    }

    &._trends {
      padding-top: 148px;

      .show_more_block {
        padding-bottom: 112px;
      }
    }
  }

  @include respond-to-min($resp_step_2) {

    &._trends {

      .show_more_block {
        padding-bottom: 112px;
      }
    }
  }

  @include respond-to-min($resp_step_3) {
    padding-top: 152px;

    &._trend {
      .mCSB_scrollTools {

        a + .mCSB_draggerContainer {
          margin: 155px 0;
        }
      }

      .trend_image_progress {
        margin: 155px 0;
      }
    }

    &._trends {
      padding-top: 112px;

      .show_more_block {
        padding-bottom: 76px;
      }
    }

  }

  &._store_menu {

    @include respond-to-min($resp_step_3) {
      padding-top: 192px;
    }
  }

  &._contacts {
    padding-top: 100px;

    @include respond-to-min($resp_step_1) {
      padding-top: 145px;
    }

    @include respond-to-min($resp_step_2) {
      padding-top: 153px;
    }

    @include respond-to-min($resp_step_3) {
      padding-top: 185px;
    }
  }

  &._delivery {
    padding-top: 100px;

    @include respond-to-min($resp_step_1) {
      padding-top: 155px;
    }

    @include respond-to-min($resp_step_2) {
      padding-top: 153px;
    }

    @include respond-to-min($resp_step_3) {
      padding-top: 185px;
    }
  }

  &._cart {
    padding-top: 100px;

    @include respond-to-min($resp_step_1) {
      padding-top: 155px;
    }

    @include respond-to-min($resp_step_2) {
      padding-top: 153px;
    }

    @include respond-to-min($resp_step_3) {

    }
  }

  &._profile {
    padding-top: 145px;

    @include respond-to-max($resp_step_1) {
      padding-top: 85px;
    }
  }
}

.base {
  padding-bottom: 27px;

  @include respond-to-min($resp_step_1) {
    padding-bottom: 160px;
  }
}

.section_inner {
  width: 100%;
  max-width: $content-max-w;
  margin: 0 auto;
  padding: 0 10px;

  @include respond-to-min($resp_step_1) {
    padding: 0 20px;
  }

  @include respond-to-min($resp_step_2) {
    padding: 0 42px;
  }

  @include respond-to-min($resp_step_3) {
    padding: 0 10px;
  }
}

.hero_slider {
  margin: 0 0 25px;
  position: relative;
  overflow: hidden;

  .slide {
    position: relative;
  }

  .slick-track {
    @extend %clearfix;
  }

  &.slick-initialized {
    .slide {
      float: left;
    }
  }

  .hero_img {
    img {
      display: block;
      max-width: 100%;
    }
  }

  .hero_text {

    @include respond-to-max($resp_step_1) {
      //padding-top: 120px;
      margin-left: 43%;
      padding-top: 40%;
      margin-bottom: 30px;
    }

    @include respond-to-min($resp_step_1) {
      position: absolute;
      bottom: 53px;
      right: 5px;
      //left: 183px;
      left: 38.4%;
    }

    @include respond-to-min($resp_step_2) {
      bottom: 50px;
      right: 5px;
      //left: 240px;
      left: 41.4%;
    }

    @include respond-to-min($resp_step_3) {
      right: 20px;
      //left: 410px;
      left: 52.5%;
      bottom: 60px;
    }
  }

  .hero_caption {
    position: relative;
    z-index: 1;
    font: 40px/.9 $FormularBlack;
    color: #fff;
    max-height: 3.6em;

    @include respond-to-max($resp_step_1) {
      font-size: 20px;
      line-height: 1.2;
      max-height: none;
      min-height: 3.6em;
    }
  }

  .hero_box {
    position: relative;
    padding-bottom: 84px;
    //padding-right: 180px;

    @include respond-to-max($resp_step_1) {
      padding-bottom: 75px;

      .hero_img {
        position: relative;
        float: left;
        width: 40%;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: -800px;
          left: 0;
          bottom: -84px;
          background: #000;
        }

        img {
          position: relative;
          z-index: 1;
        }
      }
    }

    @include respond-to-min($resp_step_1) {
      width: 66%;
      float: left;
      //padding-right: 302px;
      padding-bottom: 168px;
      padding-right: 41.5%;
      background: #000;
    }

    @include respond-to-min($resp_step_2) {
      width: 61.7%;
      //padding-right: 360px;
      padding-right: 38.3%;
      padding-bottom: 130px;
      //padding-right: 33.9% !important;

    }

    @include respond-to-min($resp_step_3) {
      width: 66.2%;
      //padding-right: 400px;
      padding-right: 33.9%;
      padding-bottom: 65px;
      //padding-right: 33.9% !important;
    }

    @include respond-to-max($resp_step_3) {
      &.about_mod {
        width: 66%;
        padding-right: 33.6%;
        padding-bottom: 105px;

        .hero_text {
          bottom: 37px;
          left: 52.2%;
        }

        .hero_info .hero_info_col:nth-child(2n) {
          padding-left: 5px;
        }
      }
    }

    @include respond-to-max($resp_step_3) {
      &.about_mod {
        width: 63%;
        padding-right: 38.6%;
        padding-bottom: 320px;

        .hero_text {
          bottom: 30px;
          left: 43.2%;
        }

        .hero_caption {
          font-size: 36px;
          line-height: 1.05;
        }

        .hero_info .hero_info_col {
          margin-top: 46px;

          &:nth-child(2n) {
            padding-left: 5px;
          }
        }
      }
    }
  }

  .hero_info_w {
    margin-right: -20px;
    margin-bottom: -2px;
  }

  .hero_info {
    @extend %clearfix;
    margin-right: -100%;
    //-webkit-columns: 2;
    //-moz-columns: 2;
    //columns: 2;
    //-webkit-column-gap: 40px;
    //-moz-column-gap: 40px;
    //column-gap: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 25px;

    .hero_info_col {
      float: left;
      width: 50%;
      margin-top: 40px;
      padding-right: 40px;

      &:nth-child(2n) {
        color: #000;
        padding: 0 0 0 20px;
      }
    }
  }

  .product_w {

    @include respond-to-min($resp_step_1) {
      position: absolute;
      top: -30px;
      right: -100px;
      z-index: 1;
    }

    .product_info {

      @include respond-to-min($resp_step_1) {
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 100%;
        margin-left: 20px;
      }

      @include respond-to-max($resp_step_3) {
        bottom: 3px;
      }

      @include respond-to-max($resp_step_2) {
        margin-left: 30px;
        bottom: -75px;
      }

      @include respond-to-max($resp_step_1) {
        bottom: auto;
        margin: 0 43% 0 0;
        padding-top: 14%;
      }
    }

    @include respond-to-max($resp_step_3) {
      right: -65px;

      .product_unit {
        width: 200px;
      }
    }

    @include respond-to-max($resp_step_2) {
      right: -35px;

      .product_unit {
        width: 150px;
      }
    }

    @include respond-to-max($resp_step_1) {
      right: auto;
      clear: both;

      .product_unit {
        width: auto;

        &:before,
        &:after {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }

        .product_block {
          //width: 120px;
          //height: 160px;
          width: 40%;
          padding-bottom: 53.4%;
          float: right;
          height: auto;

          .product_img img {
            //-webkit-transform: scale(.4);
            //-ms-transform: scale(.4);
            //transform: scale(.4);
          }
        }
      }
    }

    .product_block {
      width: 150px;
      height: 220px;
      margin: 0;

      @include respond-to-min($resp_step_2) {
        height: 280px;
        width: 200px;
      }

      @include respond-to-min($resp_step_3) {
        height: 380px;
        width: 280px;
      }
    }

    .product_unit {
      &:hover {
        .product_name {
          padding-bottom: 9px;
          border-bottom-width: 4px;
        }
      }
    }
  }

  @include respond-to-min($resp_step_1) {
    margin-top: 40px;

    .slick-track {
      padding-top: 30px;
    }

    &.mod_1 {
      margin-bottom: 62px;
    }
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 75px;

    &.mod_1 {
      margin-bottom: 80px;
    }
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 120px;

    &.mod_1 {
      margin-bottom: 120px;
    }
  }

  @include respond-to-max($resp_step_1) {
    &.mod_1 {
      margin-top: 10px;
    }
  }
}

.slider_controls {
  position: absolute;
  bottom: 0;
  z-index: 2;

  &._left {
    left: -4px;
  }

  &._right {
    right: -4px;

    @include respond-to-max($resp_step_1) {
      left: -3px;
      right: auto;
    }
  }

  .slick-arrow {
    @include transition_all(background .3s, color .3s);
    @extend %icon_pseudo;
    float: left;
    position: relative;
    width: 64px;
    height: 64px;
    border: 3px solid #000;
    background: #fff;
    margin: 0 4px;
    font-size: 38px;
    cursor: pointer;

    &:before {
      @extend %hor_vert_centr;
      position: absolute;
    }

    &:hover {
      background: #000;
      color: #fff;
    }

    &.slide_prev {

      &:before {
        content: $i-arrow_left;
      }
    }

    &.slide_next {

      &:before {
        content: $i-arrow_right;
      }
    }

    @include respond-to-max($resp_step_1) {
      width: 50px;
      height: 50px;
      border-width: 2px;
      font-size: 28px;
    }
  }
}

.product_name {
  @include transition_all(border-bottom .3s, padding-bottom .3s);
  border-bottom: 0 solid #000;
  font: 20px/.95 $FormularBlack;

  p + & {
    margin-top: 24px;

    @include respond-to-max($resp_step_3) {
      margin-right: -60px;
    }

    @include respond-to-max($resp_step_2) {
      margin-right: -30px;
    }

    @include respond-to-max($resp_step_1) {
      margin-right: 0;
      margin-top: 10px;
      line-height: 1;
    }
  }

  + p {
    margin-top: 18px;

    @include respond-to-min($resp_step_2) {
      margin-top: 24px;
    }
  }

  .filter_list & {
    line-height: 1;
  }
}

.product_price {
  font: 24px/28px $AvenirNextDemiBoldItalic;
  opacity: .6;
  margin: 12px -10px 18px 0;

  ._old_price {
    white-space: nowrap;
    opacity: .2;
    font-size: 20px;
    padding-left: 3px;
    text-decoration: line-through;

    @include respond-to-max($resp_step_2) {
      display: block;
    }
  }
}

.product_info {
  position: relative;

  p {
    font-size: 16px;

    @include respond-to-max($resp_step_2) {
      margin-right: -30px;
    }

    @include respond-to-max($resp_step_1) {
      margin-right: 0;
    }
  }

  &._hovered,
  &:focus,
  &:active,
  &:hover {
    @include transform_translate(0, -47px);
  }
}

.product_rm {
  @include transition_all(opacity .3s);
  @extend %icon_pseudo;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #000;
  color: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  opacity: 0;
  cursor: pointer;

  &:before {
    content: $i-close;
    font-size: 20px;
    line-height: 32px;
  }

  .product_unit:hover & {
    opacity: 1;
  }

}

.product_unit {
  //width: 178px;
  position: relative;

  &._buy_box {
    overflow: hidden;
    padding-bottom: 5px;

    .product_info {
      @include transition_all(transform .3s);
    }

    &._hovered,
    &:focus,
    &:active,
    &:hover {
      .product_info {
        @include transform_translate(0, -47px);
      }
    }
  }

  &._clone {
    @extend .animated;
    @extend .rollOut;
    position: absolute;
    z-index: 15;
  }

  @include respond-to-min($resp_step_3) {
    //width: 220px;
  }

  @include respond-to-min($resp_step_3) {
    //width: 280px;
  }
}

.product_block {
  display: block;
  position: relative;
  width: 178px;
  height: 220px;
  margin-bottom: 8px;
  color: #000;
  overflow: hidden;
  //pointer-events: none;

  @include respond-to-min($resp_step_2) {
    width: 220px;
    height: 280px;
  }

  @include respond-to-min($resp_step_3) {
    width: 280px;
    height: 360px;
  }

  *:hover > &,
  &:hover {
    //pointer-events: all;
    //
    //&:before {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: -100px;
    //  right: -100px;
    //  bottom: -500px;
    //  z-index: 2;
    //}
  }
}

.product_tip {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  min-width: 80px;
  text-align: center;
  padding: 4px;
  color: #fff;
  font: 18px/24px $AvenirNextItalic;

  &._new {
    background: #7fbd6a;
  }

  &._sale {
    background: #b43864;
  }

}

.product_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  overflow: hidden;

  img {
    display: block;
    min-height: 100%;
    max-width: 100%;
  }
}

.product_img {
  @extend %hor_vert_centr;
  position: absolute;
  z-index: 1;
  will-change: transform;

  img {
    z-index: 1;
    position: relative;

    @include respond-to-max($resp_step_1) {
      //max-height: 53%;
      //max-width: 50%;
    }

    @include respond-to-min($resp_step_2) {
      //-webkit-transform: scale(.75);
      //-ms-transform: scale(.75);
      //transform: scale(.75);
    }

    @include respond-to-min($resp_step_3) {
      //-webkit-transform: scale(1);
      //-ms-transform: scale(1);
      //transform: scale(1);
    }
  }

  &.spotted {

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      margin-top: -15%;
      right: -150px;
      left: -150px;
      height: 60%;
      border-radius: 100%;

      background: -moz-radial-gradient(center, ellipse cover, rgba(243, 243, 243, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
      background: -webkit-radial-gradient(center, ellipse cover, rgba(243, 243, 243, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
      background: radial-gradient(ellipse at center, rgba(243, 243, 243, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3f3f3f3', endColorstr='#00ffffff', GradientType=1);

      //background-image: radial-gradient(50% 96%, rgba(255, 255, 255, 0.50) 80%, rgba(255, 255, 255, 0.00) 96%);
    }
  }

  @include respond-to-max($resp_step_2) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-height: 50%;
      max-width: 50%;
    }
  }

}

.product_status {
  @extend %icon_pseudo;
  @extend %hor_vert_centr;
  position: absolute;
  padding-top: 60px;
  width: 200px;
  max-width: 100%;
  text-align: center;
  font: 20px/1 $FormularBlack;

  &._in_cart {
    &:before {
      position: absolute;
      top: -7px;
      right: 0;
      left: 0;
      content: $i-cart;
      font-size: 48px;
      line-height: 1;
      text-align: center;
    }
  }

  @include respond-to-max($resp_step_2) {
    font-size: 14px;
  }
}

.shadowed {
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=15, OffY=20,Color='#444')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(15px 20px 20px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 20px 20px rgba(0, 0, 0, 0.5));
}

.partners_section {
  margin-bottom: 72px;

  @include respond-to-min($resp_step_2) {
    margin-bottom: 22px;
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 60px;
  }
}

.partners_block {
  @extend %clearfix;
  position: relative;
}

.partners_list {
  float: left;
  padding-top: 85px;
  padding-left: 5px;
  width: 95px;

  li {
    margin-bottom: 49px;
  }

  @include respond-to-min($resp_step_2) {
    width: auto;
    padding-top: 20px;

    li {
      margin-bottom: 66px;
    }
  }

  @include respond-to-min($resp_step_3) {
    padding: 16px 0 0 18px;

    li {
      margin-bottom: 77px;
    }
  }
}

.partner_link {
  @include transition_all(opacity .3s);
  display: block;
  margin: 0 auto;
  opacity: .3;

  img {
    display: block;
    max-width: 100%;
  }

  &:hover {
    opacity: 1;
  }

  @include respond-to-max($resp_step_3) {
    max-width: 120px;
  }

  @include respond-to-max($resp_step_2) {
    max-width: 95px;
  }
}

.partners_info {
  padding-top: 36px;

  @include respond-to-min($resp_step_1) {
    margin-left: 125px;
    padding-top: 96px;
  }

  @include respond-to-min($resp_step_2) {
    margin-left: 162px;
    padding-top: 96px;
  }

  @include respond-to-min($resp_step_3) {
    margin-left: 398px;
    padding-top: 98px;
  }
}

.caption_tip {
  position: relative;
  font: 14px $FormularBlack;
  padding-left: 90px;
  margin-bottom: 35px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    width: 72px;
    height: 2px;
    background: #000;
  }

  &._white {
    color: #fff;

    &:before {
      background: #fff;
    }
  }

  @include respond-to-min($resp_step_1) {
    margin-bottom: 25px;
  }
}

.article_holder {
  @extend %clearfix;
  //margin-left: -40px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  padding-top: 8px;

  p {
    font-size: 16px;
    line-height: 25px;
  }

  @include respond-to-min($resp_step_1) {
    margin-bottom: 23px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 25px;
    -webkit-column-gap: 22px;
    -moz-column-gap: 22px;
    column-gap: 22px;
    margin-bottom: 29px;
  }

  @include respond-to-min($resp_step_3) {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    margin-bottom: 31px;
  }
}

.article_col {
  //padding-left: 40px;
  //float: left;
  //width: 50%;
}

.block_title {
  font: 28px/1.1 $FormularBlack;
  margin-bottom: 35px;

  @include respond-to-min($resp_step_1) {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 32px;
  }

  &._wish_mode {
    @include respond-to-max($resp_step_2) {
      font-size: 36px;
      margin-bottom: 20px;
    }

    @include respond-to-max($resp_step_1) {
      font-size: 28px;
      margin: 15px 0 -10px;
    }
  }
}

.service_section {
  margin-bottom: 75px;

  @include respond-to-min($resp_step_1) {
    margin-bottom: 60px;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 92px;
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 133px;
  }
}

.service_block {
  background: $default_t_color;
  position: relative;
  padding: 29px 19px 45px;
  color: #fff;
  max-width: 980px;
  margin: 0 -10px 30px;
  overflow: hidden;

  .block_title {
    margin-bottom: 24px;

    @include respond-to-min($resp_step_2) {
      margin-bottom: 40px;
    }
  }

  p {
    font: 18px/26px $AvenirNextDemiBold;

    + p {
      margin-top: 28px;

      @include respond-to-min($resp_step_1) {
        margin-top: 23px;
      }

      @include respond-to-min($resp_step_2) {
        margin-top: 48px;
      }
    }
  }

  @include respond-to-min($resp_step_1) {
    padding: 40px 395px 40px 40px;
    margin: 0 0 43px;
  }

  @include respond-to-min($resp_step_2) {
    padding: 53px 530px 53px 40px;
    margin-bottom: 73px;
  }

  @include respond-to-min($resp_step_3) {
    padding: 50px 530px 53px 40px;
  }
}

.service_img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 360px;
  overflow: hidden;

  img {
    @extend %hor_vert_centr;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }

  @include respond-to-min($resp_step_1) {
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    width: 360px;
  }

  @include respond-to-min($resp_step_2) {
    width: 460px;
  }

  @include respond-to-min($resp_step_3) {
    width: 500px;
  }
}

.service_more_info {
  float: right;
  width: 100%;
  max-width: 300px;

  p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 19px;
  }

  @include respond-to-min($resp_step_1) {
    p {
      margin-bottom: 31px;
    }
  }

  @include respond-to-min($resp_step_2) {
    max-width: 49%;
  }

  @include respond-to-min($resp_step_3) {
    padding-right: 55px;
  }
}

.popular_slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 145px;

  .slide {
    position: relative;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-track {
    @extend %clearfix;
  }

  &.slick-initialized {
    .slide {
      //padding-right: 1px;
      float: left;
    }
  }

  @include respond-to-max($resp_step_1) {
    padding-bottom: 75px;
    margin-bottom: 65px;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 80px;
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 120px;
  }
}

.popuplar_list {
  @extend %clearfix;

  .slick-list {
    margin-right: -20px;
  }

  .popuplar_l_item {
    width: 198px;
    float: left;
    padding-right: 20px;

    &._wide {
      //width: 355px;
    }
  }

  @include respond-to-max($resp_step_1) {
    padding-top: 6px;
  }

  @include respond-to-min($resp_step_1) {
    //margin-left: -5px;

    .popuplar_l_item {
      width: 183px;
      float: left;
      padding-right: 5px;

      &._wide {
        width: 366px;
      }
    }

    .slick-list {
      margin-right: -5px;
    }
  }

  @include respond-to-min($resp_step_2) {

    .popuplar_l_item {
      width: 240px;
      padding-right: 20px;

      &._wide {
        width: 479px;
      }
    }

    .slick-list {
      margin-right: -20px;
    }
  }

  @include respond-to-min($resp_step_3) {

    .popuplar_l_item {
      width: 300px;

      &._wide {
        width: 599px;
      }
    }
  }

  &._trend_mode {
    @include respond-to-max($resp_step_2) {
      margin-right: -16px;

      .slide {
        margin-bottom: 48px;
      }

      .popuplar_l_item {
        padding-right: 16px;
        width: 33.3333%;

        .product_block {
          width: 232px;
          height: 314px;
        }

        &._wide {
          width: 66.6666%;

          .product_block {
            width: 356px;
            height: 486px;
          }
        }
      }

      .product_img img {
        max-height: none;
        max-width: none;
        //min-width: 100%;
        min-height: 100%;
      }
    }

    @include respond-to-max($resp_step_1) {

      .popuplar_l_item {
        width: 100%;

        .product_unit {
          overflow: hidden;
        }

        .product_block {
          width: 100%;
          height: 406px;
        }

        .product_bg {
          img {
            width: 100%;
          }
        }

        .product_name {
          font-size: 28px;

          + p {
            line-height: 1.6;
            margin-top: 10px;
          }
        }

        .caption_tip {
          margin-bottom: 16px;
          margin-top: 14px;
        }

        &._wide {
          width: 100%;

          .popular_box {
            background: #000;
            color: #fff;
            padding-right: 30px;

            p,
            .product_name {
              .gl_link {
                color: #fff;
              }
            }

            .product_info {
              padding: 0 0 48px 20px;
            }

            .caption_tip {
              margin: 24px 0;

              &:before {
                background: #fff;
              }
            }

            .product_name {

              + p {
                margin-top: 18px;
              }
            }
          }

          .product_block {
            width: 100%;
            height: 370px;
          }
        }
      }
    }

    @include respond-to-min($resp_step_1) {
      margin-top: 34px;
      margin-right: -16px;

      .slide {
        margin-bottom: 64px;
      }

      .popular_box {
        padding-bottom: 55px;
      }
    }

    @include respond-to-min($resp_step_2) {
      margin-top: 48px;
      margin-right: -20px;

      .slide {
        margin-bottom: 64px;
      }

      .popular_box {
        padding-bottom: 55px;
      }
    }

    @include respond-to-min($resp_step_3) {
      margin-top: -15px;

      .slide {
        margin-bottom: 64px;
      }

      .popular_box {
        padding-bottom: 55px;
      }
    }

    .product_info {
      -webkit-transform: translate(0, 0) !important;
      -ms-transform: translate(0, 0) !important;
      transform: translate(0, 0) !important;

      @include respond-to-min($resp_step_1) {
        .caption_tip {
          margin-top: 26px;
        }

        .product_name {
          font-size: 36px;

          + p {
            margin-right: 0;
            margin-top: 15px;
            line-height: 1.6;
          }
        }
      }

      @include respond-to-min($resp_step_2) {

        .caption_tip {
          margin-top: 26px;
        }

        .product_name {
          font-size: 36px;

          + p {
            margin-top: 15px;
            line-height: 1.6;
          }
        }
      }

      @include respond-to-min($resp_step_3) {

        .caption_tip {
          margin-top: 30px;
        }

        .product_name {
          font-size: 40px;

          + p {
            margin-top: 12px;
          }
        }
      }
    }
  }
}

.popular_box {

  .product_unit {
    //width: 300px;

    .product_block {
      //width: 100%;
      //height: 430px;
    }

    .product_info {
      //margin-left: 80px;
    }
  }

  @include respond-to-max($resp_step_2) {

    .product_name + p {
      margin-top: 24px;
    }
  }

  @include respond-to-max($resp_step_1) {

    .product_name + p {
      margin-top: 18px;
    }
  }

  @include respond-to-min($resp_step_1) {
    position: relative;
    background: $default_t_color;
    //padding: 0 50px 37px 0;
    color: #fff;
    padding: 0 50px 44px 0;

    p,
    .product_name {
      .gl_link {
        color: #fff;
      }
    }

    .caption_tip {
      &:before {
        background: #fff;
      }
    }

    .product_unit {

      .product_block {
        width: 260px;
        height: 360px;
      }

      .product_info {
        margin-left: 60px;
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    padding: 0 200px 37px 0;

    .product_unit {
      width: 300px;

      .product_block {
        width: 100%;
        height: 430px;
      }

      .product_info {
        margin-left: 80px;
      }
    }
  }

  @include respond-to-min($resp_step_3) {
    padding: 0 200px 87px 0;

    .product_unit {
      width: 380px;

      .product_block {
        height: 500px;
      }

      .product_info {
        margin-left: 100px;
      }
    }
  }
}

.product_buy_box {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding-top: 20px;
}

.subscribe_section {

}

.subscribe_block {
  margin: 0 auto 33px;
  max-width: 780px;

  .block_title {
    margin-bottom: 24px;

    @include respond-to-max($resp_step_2) {
      margin-bottom: 45px;
    }

    @include respond-to-max($resp_step_1) {
      margin-bottom: 35px;
    }
  }

  p {
    max-width: 370px;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 32px;

    @include respond-to-max($resp_step_1) {
      margin-bottom: 40px;
    }
  }

  @include respond-to-min($resp_step_1) {
    margin-bottom: 80px;

    &._mod-1 {
      margin-bottom: 60px;
    }
  }

  @include respond-to-min($resp_step_2) {
    &._mod-1 {
      margin-bottom: 77px;
    }
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 120px;

    &._mod-1 {
      margin-bottom: 150px;
    }
  }
}

.subscribe_row {
  background: #000;

  @include respond-to-max($resp_step_1) {
    margin: 0 -10px;
  }
}

.share_section {

}

.share_block {

  .block_title {
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  @include respond-to-min($resp_step_1) {
    position: relative;
    z-index: 1;
    float: right;
    width: 100%;
    max-width: 41.2%;

    .block_title {
      margin-bottom: 24px;
    }
  }

  @include respond-to-min($resp_step_2) {
    max-width: 40.5%;
  }

  @include respond-to-min($resp_step_3) {
    padding-right: 7%;
  }
}

.share_tags {
  padding-top: 30px;
  text-transform: uppercase;
  font: 20px $AvenirNextDemiBold;

  li {
    margin-bottom: 2px;
  }

  @include respond-to-min($resp_step_1) {
    padding-top: 35px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 50px;
  }
}

.share_list {
  margin-right: -10px;

  li {
    float: left;
    width: 50%;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  @include respond-to-max($resp_step_1) {
    padding: 25px 5px;

    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  @include respond-to-min($resp_step_1) {
    margin-top: -42px;
    margin-right: 0;
    float: left;
    width: 82.5%;
    margin-bottom: -10px;

    li {
      float: left;
      width: 33%;
      padding-right: 20px;
      margin: 10px 0;

      &._upper {
        margin-top: -156px;
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    width: 90.5%;
    margin-top: 0;
    margin-bottom: 32px;

    li {
      margin: 0 0 20px;

      &._upper {
        margin-top: -156px;
      }
    }
  }

  @include respond-to-min($resp_step_3) {
    width: 77%;
    margin-bottom: 88px;

    li {
      margin-bottom: 16px;
    }
  }
}

.share_link {
  display: block;
  width: 360px;
  max-width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;

  &._half {
    padding-bottom: 50%;
  }

  img {
    @extend %hor_vert_centr;
    position: absolute;
    width: 100%;
  }

  &.share_mod_1 {

    @include respond-to-min($resp_step_1) {
      margin: -80px 0 80px;
    }

    @include respond-to-min($resp_step_2) {
      margin: -23px 0 23px;
    }

    @include respond-to-min($resp_step_3) {
      margin: 0;
    }
  }

  @include respond-to-min($resp_step_3) {
    width: 280px;

    &.share_mod_1 {
      margin: 0;
    }
  }
}
