@font-face {
  font-family: 'FormularRegular';
  src: url(../fonts/Formular-Regular.eot);
  src: url(../fonts/Formular-Regular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Formular-Regular.woff) format("woff"),
  url(../fonts/Formular-Regular.ttf) format("truetype"),
  url(../fonts/Formular-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FormularMedium';
  src: url(../fonts/Formular-Medium.eot);
  src: url(../fonts/Formular-Medium.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Formular-Medium.woff) format("woff"),
  url(../fonts/Formular-Medium.ttf) format("truetype"),
  url(../fonts/Formular-Medium.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FormularBold';
  src: url(../fonts/Formular-Bold.eot);
  src: url(../fonts/Formular-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Formular-Bold.woff) format("woff"),
  url(../fonts/Formular-Bold.ttf) format("truetype"),
  url(../fonts/Formular-Bold.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FormularBlack';
  src: url(../fonts/Formular-Black.eot);
  src: url(../fonts/Formular-Black.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Formular-Black.woff) format("woff"),
  url(../fonts/Formular-Black.ttf) format("truetype"),
  url(../fonts/Formular-Black.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url(../fonts/AvenirNext-Regular.eot);
  src: url(../fonts/AvenirNext-Regular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-Regular.woff) format("woff"),
  url(../fonts/AvenirNext-Regular.ttf) format("truetype"),
  url(../fonts/AvenirNext-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextItalic';
  src: url(../fonts/AvenirNext-Italic.eot);
  src: url(../fonts/AvenirNext-Italic.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-Italic.woff) format("woff"),
  url(../fonts/AvenirNext-Italic.ttf) format("truetype"),
  url(../fonts/AvenirNext-Italic.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextMedium';
  src: url(../fonts/AvenirNext-Medium.eot);
  src: url(../fonts/AvenirNext-Medium.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-Medium.woff) format("woff"),
  url(../fonts/AvenirNext-Medium.ttf) format("truetype"),
  url(../fonts/AvenirNext-Medium.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextMediumItalic';
  src: url(../fonts/AvenirNext-MediumItalic.eot);
  src: url(../fonts/AvenirNext-MediumItalic.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-MediumItalic.woff) format("woff"),
  url(../fonts/AvenirNext-MediumItalic.ttf) format("truetype"),
  url(../fonts/AvenirNext-MediumItalic.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextDemiBold';
  src: url(../fonts/AvenirNext-DemiBold.eot);
  src: url(../fonts/AvenirNext-DemiBold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-DemiBold.woff) format("woff"),
  url(../fonts/AvenirNext-DemiBold.ttf) format("truetype"),
  url(../fonts/AvenirNext-DemiBold.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextDemiBoldItalic';
  src: url(../fonts/AvenirNext-DemiBoldItalic.eot);
  src: url(../fonts/AvenirNext-DemiBoldItalic.eot?#iefix) format("embedded-opentype"),
  url(../fonts/AvenirNext-DemiBoldItalic.woff) format("woff"),
  url(../fonts/AvenirNext-DemiBoldItalic.ttf) format("truetype"),
  url(../fonts/AvenirNext-DemiBoldItalic.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
