.footer {

  @include respond-to-min($resp_step_1) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 158px;
  }

  .section_inner {
    position: relative;
    padding-top: 40px;
    min-height: 104px;
    line-height: 24px;

    @include respond-to-max($resp_step_1) {
      padding-top: 30px;
      padding-bottom: 40px;
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 10px;
      left: 10px;
      height: 4px;
      background: #000;

      @include respond-to-min($resp_step_1) {
        right: 20px;
        left: 20px;
      }

      @include respond-to-min($resp_step_2) {
        right: 42px;
        left: 42px;
      }

      @include respond-to-min($resp_step_3) {
        right: 10px;
        left: 10px;
      }
    }
  }

  .main_menu {
    margin-bottom: 36px;

    @include respond-to-max($resp_step_1) {
      margin: 24px 0 30px -21px;
      clear: both;
      display: inline-block;
      vertical-align: top;
      min-width: 100%;

      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }

    li {
      padding-left: 21px;

      @include respond-to-max($resp_step_1) {
        width: 47%;
        margin-bottom: 3px;
      }

      @include respond-to-min($resp_step_2) {
        padding-left: 27px;
      }
    }
  }
}

.copyrights {
  color: #979797;
  font: 12px $AvenirNextRegular;
  float: left;
  clear: both;
}

.dev_block {
  float: right;
  font: 12px $AvenirNextRegular;
  color: #979797;
}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.gl_link {
  color: $default_t_color;
  text-decoration: none;

  &.cart_edit_link {
    font: 14px $AvenirNextRegular;
  }

  &.ref_edit {
    @include transition_all(opacity .3s);
    position: relative;
    display: inline-block;

    span {
      @include transition_all(opacity .3s);
      opacity: .6;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 3px;
      right: 0;
      left: 0;
      height: 1px;
      background: #000;
      opacity: .6;
    }

    ._on {
      display: none;
    }

    &._opened {
      ._on {
        display: block;
      }

      ._off {
        display: none;
      }
    }

    &:hover {
      span {
        opacity: 1;
      }
    }
  }

  &.ref_link {
    font: 14px/19px $AvenirNextMedium;

    span {
      display: inline-block;
      vertical-align: top;
    }

    .link_icon {
      font-size: 18px;
    }

    .link_text {
      padding-left: 15px;
    }
  }

  &.purchase_link {
    @include transition_all(color .3s);
    color: rgba(0, 0, 0, .6);
    letter-spacing: -.03em;
    text-decoration: underline;

    &:hover {
      color: #000;
    }
  }

  &._underline {
    @include transition_all(color .3s);
    color: rgba(0, 0, 0, .4);
    text-decoration: underline;

    span {
      color: $default_t_color;
    }

    &:hover {
      color: #000;
    }
  }

  &.show_more {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font: 12px $FormularBold;

    &:before {
      @include transition_all(width .3s);
      content: '';
      position: absolute;
      width: 52%;
      min-width: 10px;
      top: 100%;
      left: 0;
      height: 12px;
      border-bottom: 4px solid $default_t_color;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    &._white {
      color: #fff;

      &:before {
        border-bottom-color: #fff;
      }
    }

    @include respond-to-min($resp_step_1) {
      font-size: 14px;
    }

    @include respond-to-min($resp_step_2) {
      font-size: 16px;
    }

    @include respond-to-min($resp_step_3) {
      letter-spacing: -.02em;
    }
  }
}

.fz_16 {
  font-size: 16px;
}

.lh_25 {
  line-height: 25px;
}

.clr_red {
  color: #ed4b84;
}

.mob_only {

  @include respond-to-min($resp_step_1) {
    display: none !important;
  }
}

.mob_hidden {

  @include respond-to-max($resp_step_1) {
    display: none !important;
  }
}

.tab_vis {

  @include respond-to-max($resp_step_1) {
    display: none !important;
  }
}

.tab_hidden {

  @include respond-to-min($resp_step_1) {
    display: none !important;
  }
}

.dt_vis {

  @include respond-to-max($resp_step_2) {
    display: none !important;
  }
}

.dt_hidden {

  @include respond-to-min($resp_step_2) {
    display: none !important;
  }
}

.wide_only {

  @include respond-to-max($resp_step_3) {
    display: none !important;
  }
}

.wide_hidden {

  @include respond-to-min($resp_step_3) {
    display: none !important;
  }
}

.collapsed {

  @include respond-to-max($resp_step_1) {
    display: none;
  }

  @include respond-to-min($resp_step_1) {
    display: block !important;
  }

}

._c_gray {
  color: #4a4a4a;
}

.collapseBtn {
  cursor: pointer;
}
