.footer {
  @include respond-to-min($resp_step_1) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 158px;
  }

  .section_inner {
    position: relative;
    padding-top: 40px;
    min-height: 104px;
    line-height: 24px;

    @include respond-to-max($resp_step_1) {
      padding-top: 30px;
      padding-bottom: 40px;
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 10px;
      left: 10px;
      height: 4px;
      background: #000;

      @include respond-to-min($resp_step_1) {
        right: 20px;
        left: 20px;
      }

      @include respond-to-min($resp_step_2) {
        right: 42px;
        left: 42px;
      }

      @include respond-to-min($resp_step_3) {
        right: 10px;
        left: 10px;
      }
    }
  }

  .main_menu {
    margin-bottom: 36px;

    @include respond-to-max($resp_step_1) {
      margin: 24px 0 30px -21px;
      clear: both;
      display: inline-block;
      vertical-align: top;
      min-width: 100%;

      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }

    li {
      padding-left: 21px;

      @include respond-to-max($resp_step_1) {
        width: 47%;
        margin-bottom: 3px;
      }

      @include respond-to-min($resp_step_2) {
        padding-left: 27px;
      }
    }
  }
}

.search_holder {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  overflow-y: auto;
  background: rgba(255, 255, 255, .98);

  .section_inner {
    position: relative;
  }

  .search_opened & {
    display: block;
  }
}

.popup_controls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 25;
  display: none;

  .popup_opened &,
  .search_opened & {
    display: block;
  }

  .section_inner {
    position: relative;
  }
}

.popup_close {
  @extend %icon_pseudo;
  position: absolute;
  top: 22px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  right: 2px;
  z-index: 1;
  font-size: 38px;
  cursor: pointer;

  &:before {
    content: $i-close;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  @include respond-to-max($resp_step_3) {
    right: 34px;
  }

  @include respond-to-max($resp_step_2) {
    right: 14px;
  }

  @include respond-to-max($resp_step_1) {
    top: 0;
    right: -5px;
    font-size: 20px;
  }
}

.search_form {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  padding-top: 136px;

  @include respond-to-max($resp_step_3) {
    padding-top: 128px;
  }

  @include respond-to-max($resp_step_2) {
    padding-top: 136px;
  }

  @include respond-to-max($resp_step_1) {
    padding-top: 74px;
  }

}

.search_results {
  @extend %clearfix;
  padding-top: 54px;
  margin-left: -40px;

  @include respond-to-max($resp_step_1) {
    padding-top: 30px;
  }
}

.search_result_col {
  margin-bottom: 32px;
  padding-left: 40px;

  @include respond-to-min($resp_step_1) {
    width: 47.5%;
    float: left;
  }

  @include respond-to-min($resp_step_2) {
    width: 49%;
  }
}

.search_result_caption {
  opacity: .2;
  font: 24px $FormularBlack;

  @include respond-to-max($resp_step_1) {
    font-size: 18px;
  }
}

.search_rslt_list {

  li {
    margin: 12px 0 24px;

    @include respond-to-max($resp_step_2) {
      margin-bottom: 21px;
    }

    @include respond-to-max($resp_step_1) {
      margin-bottom: 13px;
    }
  }
}

.search_rslt {
  position: relative;
  padding-left: 100px;
  min-height: 80px;

  p {
    font: 18px/25px $AvenirNextMedium;

    + p {
      margin-top: 5px;

      @include respond-to-max($resp_step_1) {
        margin-top: 0;
      }
    }

    @include respond-to-max($resp_step_2) {
      font-size: 14px;
      line-height: 19px;
      padding-top: 5px;
    }

    @include respond-to-max($resp_step_1) {
      padding-top: 0;
    }
  }

  .caption_tip {
    margin-bottom: 12px;
  }

  .product_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;

    @include respond-to-max($resp_step_1) {
      width: 60px;
      height: 60px;
    }
  }

  .product_img img {
    max-width: 26px;
    max-height: 50px;
  }

  @include respond-to-max($resp_step_1) {
    padding-left: 80px;
    min-height: 60px;
  }
}

.search_rslt_price {
  color: $clr_red;
  font: 18px/25px $AvenirNextDemiBoldItalic;

  @include respond-to-max($resp_step_1) {
    font-size: 16px;
  }
}

.search_row {

  .f_input {
    padding-right: 80px;
  }
}

.copyrights {
  color: #979797;
  font: 12px $AvenirNextRegular;
  float: left;
  clear: both;
}

.dev_block {
  float: right;
  font: 12px $AvenirNextRegular;
  color: #979797;
}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.gl_link {
  color: $default_t_color;
  text-decoration: none;

  &.see_all {
    @extend %icon_pseudo;
    @include transition_all(color .3s);
    position: relative;
    display: block;
    color: rgba(0, 0, 0, 0.6);

    &:before {
      position: absolute;
      width: 20px;
      font-size: 12px;
      height: 12px;
      top: 50%;
      margin-top: -6px;
      right: 0;
      font-weight: 700;
      content: $i-chevron_down;
    }

    &:hover {
      color: #000;
    }

    ._on {
      display: none;
    }

    &._opened {
      &:before {
        content: $i-chevron_up;
      }

      ._on {
        display: block;
      }

      ._off {
        display: none;
      }
    }
  }

  &.cart_edit_link {
    font: 14px $AvenirNextRegular;
  }

  &.ref_edit {
    @include transition_all(opacity .3s);
    position: relative;
    display: inline-block;

    span {
      @include transition_all(opacity .3s);
      opacity: .6;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 3px;
      right: 0;
      left: 0;
      height: 1px;
      background: #000;
      opacity: .6;
    }

    ._on {
      display: none;
    }

    &._opened {
      ._on {
        display: block;
      }

      ._off {
        display: none;
      }
    }

    &:hover {
      span {
        opacity: 1;
      }
    }
  }

  &.ref_link {
    font: 14px/19px $AvenirNextMedium;

    span {
      display: inline-block;
      vertical-align: top;
    }

    .link_icon {
      font-size: 18px;
    }

    .link_text {
      padding-left: 15px;
    }
  }

  &.purchase_link {
    @include transition_all(color .3s);
    color: rgba(0, 0, 0, .6);
    letter-spacing: -.03em;
    text-decoration: underline;

    &:hover {
      color: #000;
    }
  }

  &._underline {
    @include transition_all(color .3s);
    color: rgba(0, 0, 0, .4);
    text-decoration: underline;

    span {
      color: $default_t_color;
    }

    &:hover {
      color: #000;
    }
  }

  &.show_more {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font: 12px $FormularBold;

    &:before {
      @include transition_all(width .3s);
      content: '';
      position: absolute;
      width: 52%;
      min-width: 10px;
      top: 100%;
      left: 0;
      height: 12px;
      border-bottom: 4px solid $default_t_color;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    &._white {
      color: #fff;

      &:before {
        border-bottom-color: #fff;
      }
    }

    @include respond-to-min($resp_step_1) {
      font-size: 14px;
    }

    @include respond-to-min($resp_step_2) {
      font-size: 16px;
    }

    @include respond-to-min($resp_step_3) {
      letter-spacing: -.02em;
    }
  }
}

.login_link {
  color: #000;
  font: 16px $AvenirNextMedium;
  letter-spacing: .01em;
}

.fz_16 {
  font-size: 16px;
}

.lh_25 {
  line-height: 25px;
}

.clr_red {
  color: $clr_pink;
}

.mob_only {

  @include respond-to-min($resp_step_1) {
    display: none !important;
  }
}

.mob_hidden {

  @include respond-to-max($resp_step_1) {
    display: none !important;
  }
}

.tab_vis {

  @include respond-to-max($resp_step_1) {
    display: none !important;
  }
}

.tab_hidden {

  @include respond-to-min($resp_step_1) {
    display: none !important;
  }
}

.dt_vis {

  @include respond-to-max($resp_step_2) {
    display: none !important;
  }
}

.dt_hidden {

  @include respond-to-min($resp_step_2) {
    display: none !important;
  }
}

.wide_only {

  @include respond-to-max($resp_step_3) {
    display: none !important;
  }
}

.wide_hidden {

  @include respond-to-min($resp_step_3) {
    display: none !important;
  }
}

.collapsed {

  @include respond-to-max($resp_step_1) {
    display: none;
  }

  @include respond-to-min($resp_step_1) {
    display: block !important;
  }

}

._c_gray {
  color: #4a4a4a;
}

.collapseBtn {
  cursor: pointer;
}
