.inp_hidden {
  display: none;
}

.f_row {
  @extend %clearfix;

  &.f_row_v4 {
    margin-bottom: 25px;
  }

  &.f_row_v3 {

    .f_cell {
      margin-bottom: -2px;

      @include respond-to-min($resp_step_1) {
        width: 50%;
        float: left;

        + .f_cell {
          .f_input {
            border-left: none !important;
          }
        }
      }
    }
  }

  &.f_row_v2 {
    line-height: 32px;
    margin-bottom: 8px;
    margin-left: -14px;

    .f_cell {
      float: left;
      padding-left: 14px;

      @include respond-to-min($resp_step_1) {
        width: 50%;
      }
    }

    .input_w {
      float: right;
      width: 64px;

      @include respond-to-max($resp_step_1) {
        margin-left: 14px;
      }
    }
  }

  &.f_row_v1 {

    .f_cell {
      padding: 0 0 40px 30px;

      .input_w {
        padding-top: 25px;
        max-width: 200px;

        @include respond-to-max($resp_step_1) {
          padding-top: 20px;
        }
      }

      &:first-child {
        padding-bottom: 4px;
      }

      &:last-child {
        padding: 0;
      }

      @include respond-to-min($resp_step_1) {
        width: 34%;
        float: left;
        padding: 0 0 0 10px;

        &:first-child {
          padding-left: 40px;
        }

        &:last-child {
          width: 32%;
        }
      }

      @include respond-to-min($resp_step_2) {
        width: 35%;

        &:last-child {
          width: 30%;
        }
      }
    }
  }
}

.f_input {
  display: block;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;

  &.f_input_v1 {
    height: 40px;
    background: $default_t_color;
    font: 18px/26px $FormularMedium;
    border-bottom: 2px solid #fff;
    color: #fff;

    &::-webkit-input-placeholder {
      color: #fff;
      font-family: $FormularMedium;
    }

    &::-moz-placeholder {
      color: #fff;
      font-family: $FormularMedium;
    }

    @include respond-to-max($resp_step_1) {
      //height: 36px;
      //line-height: 22px;
    }
  }

  &.f_input_v2 {
    height: 32px;
    padding: 6px;
    background: #ededed;
    font: 14px/20px $AvenirNextDemiBold;
    color: #000;

    &::-webkit-input-placeholder {
      font-family: $AvenirNextDemiBold;
    }

    &::-moz-placeholder {
      font-family: $AvenirNextDemiBold;
    }
  }

  &.f_input_v3 {
    height: 74px;
    padding: 22px;
    border: 2px solid #000;
    background: none;
    font: 16px/30px $AvenirNextDemiBold;
    color: #000;

    &::-webkit-input-placeholder {
      font-family: $AvenirNextDemiBold;
    }

    &::-moz-placeholder {
      font-family: $AvenirNextDemiBold;
    }
  }

  &.f_input_v4 {
    height: 52px;
    padding: 2px 0;
    border: none;
    background: none;
    font: 36px/48px $AvenirNextItalic;
    color: #000;

    &::-webkit-input-placeholder {
      font-family: $AvenirNextItalic;
    }

    &::-moz-placeholder {
      font-family: $AvenirNextItalic;
    }
  }

  &.f_input_v5 { // textarea
    height: 76px;
    padding: 23px;
    background: #f5f5f5;
    border: 1px solid #000;
    background: none;
    font: 16px/22px $AvenirNextMedium;
    color: #000;

    &::-webkit-input-placeholder {
      font-family: $AvenirNextMedium;
    }

    &::-moz-placeholder {
      font-family: $AvenirNextMedium;
    }

    @include respond-to-max($resp_step_1) {
      padding: 15px;
    }
  }

  &.f_input_v6 {
    height: 48px;
    background: #fff;
    padding: 14px 16px;
    font: 16px/20px $AvenirNextMedium;
    border: 2px solid #000;
    color: #000;

    &::-webkit-input-placeholder {
      color: #000;
      font-family: $AvenirNextMedium;
    }

    &::-moz-placeholder {
      color: #000;
      font-family: $AvenirNextMedium;
    }

    @include respond-to-max($resp_step_1) {
      //height: 36px;
      //line-height: 22px;
    }
  }

  &.f_input_v7 {
    background: none;
    border: none;
    font: 14px/20px $AvenirNextMedium;
    color: $default_t_color;
  }
}

textarea.f_input_v3.f_input {
  height: 255px;

  @include respond-to-min($resp_step_1) {
    height: 328px;
  }

  @include respond-to-min($resp_step_2) {
    height: 345px;
  }
}

textarea.f_input_v6.f_input {
  height: 180px;

  @include respond-to-min($resp_step_1) {
    height: 220px;
  }

  @include respond-to-min($resp_step_3) {
    height: 300px;
  }
}

.select_box_v1 {
  text-align: left;

  .select2-container--default {
    .select2-results > .select2-results__options {
      max-height: 260px;
      //border: solid #000;
      //border-width: 0 2px 2px;
    }

    .select2-dropdown {
      border-radius: 0 !important;
    }

    .select2-results__option {
      font-size: 16px;
      line-height: 20px;
      padding: 11px 20px;
    }

    .select2-container {

    }

    .select2-selection__rendered {
      min-width: 240px;
      padding-right: 40px;
      padding-left: 16px;
      font: 16px/44px $AvenirNextMedium;
    }

    .select2-selection__placeholder {
      color: $placeholder_color;
    }

    .select2-selection--single {
      @include transition_all(border .3s);
      background: #fafafa;
      border-radius: 0;
      border: 2px solid transparent;
      height: 48px;
      box-shadow: none;

      &:hover {
        border-color: #000;

        .select2-selection__arrow:before {

        }
      }
    }

    .select2-selection__arrow {
      @extend %icon_pseudo;
      height: 48px;

      &:before {
        @include transition_all(color .3s);
        position: absolute;
        font-size: 12px;
        height: 12px;
        top: 50%;
        margin-top: -5px;
        right: 20px;
        font-weight: 700;
        content: $i-chevron_down;
      }

      b {
        display: none;
      }

      @include respond-to-max($resp_step_1) {
        &:before {
          margin-top: -12px;
          font-size: 16px;
          right: 16px;
        }
      }
    }
  }

  &.dropdown_small {
    .select2-container--default {
      .select2-results > .select2-results__options {
        max-height: 120px;
      }
    }
  }

  .select2-container--open {
    .select2-selection__arrow {

      &:before {
        content: $i-chevron_up;
      }
    }
  }
}

.select_box_v2 {
  text-align: left;

  .select2-container--default {
    .select2-results > .select2-results__options {
      max-height: 260px;
      //border: solid #000;
      //border-width: 0 2px 2px;
    }

    .select2-dropdown {
      border-radius: 0 !important;
    }

    .select2-results__option {
      font-size: 16px;
      line-height: 20px;
      padding: 11px 20px;
    }

    .select2-container {

    }

    .select2-selection__rendered {
      min-width: 240px;
      padding-right: 40px;
      padding-left: 22px;
      font: 20px/65px $FormularBold;
      color: #b43864;
    }

    .select2-selection__placeholder {
      color: $placeholder_color;
    }

    .select2-selection--single {
      @include transition_all(border .3s);
      background: #fafafa;
      border-radius: 0;
      color: #b43864;
      border: 2px solid transparent;
      height: 73px;
      box-shadow: none;

      &:hover {
        border-color: #b43864;

        .select2-selection__arrow:before {

        }
      }
    }

    .select2-selection__arrow {
      @extend %icon_pseudo;
      height: 73px;

      &:before {
        @include transition_all(color .3s);
        position: absolute;
        font-size: 12px;
        height: 12px;
        top: 50%;
        margin-top: -5px;
        right: 20px;
        font-weight: 700;
        content: $i-chevron_down;
      }

      b {
        display: none;
      }

      @include respond-to-max($resp_step_1) {
        &:before {
          margin-top: -12px;
          font-size: 16px;
          right: 16px;
        }
      }
    }
  }

  &.dropdown_small {
    .select2-container--default {
      .select2-results > .select2-results__options {
        max-height: 120px;
      }
    }
  }

  .select2-container--open {
    .select2-selection__arrow {

      &:before {
        content: $i-chevron_up;
      }
    }
  }
}

.f_label {

  &.f_label_v1 {
    display: inline-block;
    vertical-align: top;
    font: 16px $FormularBold;
    margin-bottom: 24px;
  }
}

.f_check {

  &.f_check_v1 {
    font: 14px $AvenirNextRegular;
    cursor: pointer;

    .check_text {
      display: block;
      position: relative;
      padding-left: 24px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -5px;
        height: 10px;
        width: 10px;
        border: 2px solid #000;
      }
    }

    &:hover {
      .check_text {
        &:before {
          background: #ccc;
        }
      }
    }

    .inp_hidden:checked ~ .check_text {
      font-family: $AvenirNextDemiBold;

      &:before {
        background: #000;
      }
    }
  }

  &.f_check_v2 {
    cursor: pointer;

    .check_text {
      color: #b43864;
      font: 20px/25px $FormularRegular;
    }

    &:hover {
      .check_text {

      }
    }

    .inp_hidden:checked ~ .check_text {
      font-family: $FormularBold;
    }
  }
}

.toddler_v1 {
  padding: 8px 8px 27px;

  .noUi-target {
    border: none;
    background: none;
    border-radius: 0;
    box-shadow: none;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 4px;
      margin-top: -2px;
      background: #ededed;
    }
  }

  .noUi-connect {
    border: none;
    background: none;
    border-radius: 0;
    box-shadow: none;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 4px;
      margin-top: -2px;
      background: #ee4b84;
    }
  }

  .noUi-handle {
    border: none;
    background: none;
    border-radius: 0;
    box-shadow: none;

    &:after {
      content: '';
      position: absolute;
      top: 21px;
      background: #4a4a4a;
      width: 8px;
      height: 6px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 13px;
      right: 0;
      width: 0;
      height: 0;
      background: none;
    }

    &.noUi-handle-lower {

      &:after {
        left: 9px;
      }

      &:before {
        left: 9px;
        border-top: 8px solid transparent;
        border-right: 8px solid #4a4a4a;
      }

      .noUi-tooltip {
        left: 17px;
      }
    }

    &.noUi-handle-upper {

      &:after {
        left: 17px;
      }

      &:before {
        left: 17px;
        border-top: 8px solid transparent;
        border-left: 8px solid #4a4a4a;
      }

      .noUi-tooltip {
        left: auto;
        right: 17px;
      }
    }
  }

  .noUi-tooltip {
    @include transform_translate(0, 0);
    bottom: 50%;
    background: none;
    border: none;
    padding: 0;
    font: 12px $AvenirNextRegular;
  }

}

.f_reset {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  font: 16px/20px $FormularBold;
  color: $default_t_color;

  span {

    + span {
      padding-left: 20px;
    }
  }
}



