.grid_row {
  @extend %clearfix;
  margin-left: -20px;
  margin-bottom: 5px;
  position: relative;

  @include respond-to-min($resp_step_1) {
    margin-bottom: 45px;
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 55px;
  }

  @include respond-to-max($resp_step_2) {
    padding-top: 82px;
  }
}

.grid_col {
  padding-left: 20px;

  @include respond-to-min($resp_step_1) {
    float: left;
  }

  &._col_1 {
    width: 100%;

    @include respond-to-max($resp_step_2) {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 320px;

      &._info_spacer {
        max-width: 400px;
        padding-right: 80px;
      }
    }

    @include respond-to-min($resp_step_2) {
      width: 3/12 * 100%;
    }

    @include respond-to-min($resp_step_3) {
      width: 2/12 * 100%;
    }
  }

  &._col_2 {

    @include respond-to-min($resp_step_1) {
      width: 640px;
    }

    @include respond-to-min($resp_step_2) {
      width: 8/12 * 100%;
    }

    @include respond-to-min($resp_step_3) {
      width: 3/12 * 100%;
    }
  }

  &._col_3 {

    @include respond-to-min($resp_step_1) {
      width: 640px;
    }

    @include respond-to-min($resp_step_2) {
      width: 8/12 * 100%;
      margin-left: 3/12 * 100%;
    }

    @include respond-to-min($resp_step_3) {
      width: 7/12 * 100%;
      margin-left: 0;
    }
  }

  &._col_4 {

    @include respond-to-min($resp_step_1) {
      padding-top: 10px;
      width: 100%;
    }

    @include respond-to-min($resp_step_2) {
      width: 9/12 * 100%;
      float: right;
      padding-top: 0;
    }

    @include respond-to-min($resp_step_3) {
      width: 6/12 * 100%;
      float: left;
    }
  }

  &._col_5 {

    @include respond-to-min($resp_step_1) {
      width: 100%;
    }

    @include respond-to-min($resp_step_2) {
      width: 9/12 * 100%;
      float: right;
    }

    @include respond-to-min($resp_step_3) {
      width: 4/12 * 100%;
      float: left;
    }
  }

  &._col_6 {

    @include respond-to-min($resp_step_1) {
      width: 100%;
      padding-top: 10px;
    }

    @include respond-to-min($resp_step_2) {
      width: 9/12 * 100%;
      padding-top: 0;
      float: right;
    }

    @include respond-to-min($resp_step_3) {
      width: 8/12 * 100%;
      float: left;
    }
  }

  &._col_7 {

    @include respond-to-min($resp_step_1) {
      width: 100%;
    }

    @include respond-to-min($resp_step_2) {
      width: 75%;
      float: right;
    }

    @include respond-to-min($resp_step_3) {
      width: 80%;
    }
  }

  &._col_8 {
    width: 100%;

    @include respond-to-max($resp_step_2) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      max-width: 320px;

      &._info_spacer {
        max-width: 400px;
        padding-right: 80px;
      }
    }

    @include respond-to-min($resp_step_2) {
      width: 25%;
    }

    @include respond-to-min($resp_step_3) {
      width: 20%;
    }
  }

  &._col_9 {
    width: 100%;

    @include respond-to-max($resp_step_2) {
      max-width: 320px;
    }

    @include respond-to-min($resp_step_2) {
      width: 33%;
    }

    @include respond-to-min($resp_step_3) {
      width: 21.7%;
    }
  }

  &._col_10 {
    @include respond-to-min($resp_step_1) {

    }

    @include respond-to-min($resp_step_2) {
      //width: 70%;
      //margin-left: 20%;
    }

    @include respond-to-min($resp_step_3) {
      width: 58.3%;
      margin-left: 0;
    }
  }

  &._col_11 {
    @include respond-to-min($resp_step_1) {
      width: 38.5%;
      margin-top: -82px;
    }

    @include respond-to-min($resp_step_2) {
      width: 50%;
      margin-top: 0;
      //margin-left: 20%;
    }

    @include respond-to-min($resp_step_3) {
      width: 41.8%;
      margin-left: 0;
    }
  }

  &._col_12 {
    @include respond-to-min($resp_step_1) {
      width: 61.5%;
    }

    @include respond-to-min($resp_step_2) {
      width: 25%;
      //margin-left: 20%;
    }

    @include respond-to-min($resp_step_3) {
      width: 38.2%;
      //margin-left: 0;
    }
  }

  &._col_13 {

    @include respond-to-min($resp_step_1) {
      width: 43%;
    }

    @include respond-to-min($resp_step_2) {
      width: 33%;
    }

    @include respond-to-min($resp_step_3) {
      width: 80%;
      float: right;
    }
  }
}

.aside {
  position: relative;
}

.aside_menu {
  position: relative;

  @include respond-to-max($resp_step_2) {
    //position: absolute;
    //top: 100%;
    //right: 0;
    //left: 0;
    padding-top: 60px;
    min-height: 60px;
    z-index: 1;
    background: #fff;

    .aside_submenu {
      padding-top: 1px;

      li {
        display: none;
        border-bottom: 1px solid #fff;

        &:last-child {
          //border-bottom: 0;
        }

        &.sub_active {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
        }
      }

      .submenu_link {
        -webkit-transition: background 0.3s, color 0.3s;
        -ms-transition: background 0.3s, color 0.3s;
        transition: background 0.3s, color 0.3s;
        display: block;
        position: relative;
        padding: 16px 30px 16px 26px;
        background: #000;
        color: #fff;
        font: 16px/1.4 $AvenirNextRegular;

        &:hover {
          background: $clr_pink;
        }

        &._active {
          padding-left: 16px;
          display: block;

          &:after {
            content: '1';
            display: none;
          }

          &:before {
            font-family: $icomoon-font-name !important;
            speak: none;
            font-style: normal;

            font-variant: normal;
            text-transform: none;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            content: $i-chevron_down;
            position: absolute;
            top: 50%;
            height: 20px;
            right: 15px;
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            margin-top: -10px;
          }
        }
      }
    }

    .aside_m_item {
      display: none;
      //margin-top: 4px;
    }

    .drop_down {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: block;
      margin-top: 0;

      .aside_m_link {
        line-height: 1.1;
      }

      &._opened {
        position: static;
        border-bottom-width: 0;

        .aside_m_link {
          line-height: 1.3;
          display: none;

          &:hover {
            background: #000;
          }
        }
      }
    }

    .aside_open & {
      .aside_submenu li,
      .aside_m_item {
        display: block;
      }

      .drop_down._opened .aside_m_link {
        display: block;
      }

      .submenu_link {
        &._active {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

.aside_m_item {
  border-bottom: 1px solid #fff;

  &.drop_down {
    > a {
      background: $clr_red;
      cursor: default;
    }
    
    //border-bottom-width: 4px;

    //@include respond-to-min($resp_step_2) {
      &._opened {
        
        > a {
          background: $clr_red;
          cursor: default;
        }
      }
    //}

    @include respond-to-max($resp_step_2) {
      .aside_m_link {
        padding-top: 19px;
        padding-bottom: 19px;
      }
    }
  }
}

.aside_m_link {
  @include transition_all(background .3s, color .3s);
  display: block;
  position: relative;
  padding: 16px 30px 16px 16px;
  background: #000;
  color: #fff;
  font: 16px/1.4 $AvenirNextRegular;

  &:hover {
    background: $clr_pink;
  }

  &:focus,
  &:active {
    background: $clr_red;
  }

}

.aside_submenu {

  @include respond-to-min($resp_step_2) {
    background: #f9f8f8;
    padding: 16px 20px;

    li {
      + li {
        margin-top: 9px;
      }
    }
  }
}

.submenu_link {
  color: $default_t_color;
  font: 16px/22px $AvenirNextRegular;

  &:hover {
    color: $clr_pink;
  }

  &._active {
    color: $default_t_color;
    cursor: default;
    font-family: $AvenirNextDemiBold;
  }
}

.aside_m_icon {
  @extend %icon_pseudo;
  position: absolute;
  top: 50%;
  height: 20px;
  right: 5px;
  font-weight: 800;
  margin-top: -10px;
  font-size: 16px;
  line-height: 20px;

  &:before {
    content: $i-chevron_right;
  }

  @include respond-to-max($resp_step_2) {
    right: 14px;
    margin-top: -6px;

    &:before {
      content: $i-chevron_down;
    }

    .aside_open & {
      &:before {
        content: $i-chevron_up;
      }
    }
  }

  ._opened & {
    right: 15px !important;

    &:before {
      content: $i-chevron_down !important;
    }
  }
}

.profile_settings {
  border: 1px solid #d8d8d8;
  margin-bottom: 15px;

  ._faq & {
    margin-bottom: 20px;
    border-color: transparent;

    &._opened {
      border-color: #d8d8d8;
    }
  }

  &._no_bdr {
    border: none;
  }

  &.footer_mod {
    min-height: 100%;
    padding-bottom: 75px;
    position: relative;

    .profile_settings_footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @include respond-to-max($resp_step_1) {
      padding-bottom: 0;

      .profile_settings_footer {
        position: relative;
      }
    }
  }

  @include respond-to-min($resp_step_1) {
    margin-bottom: 20px;

    ._faq & {
      margin-bottom: 14px;
    }
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 24px;

    ._faq & {
      margin-bottom: 13px;
    }
  }
}

.profile_settings_holder {

  @include respond-to-max($resp_step_3) {
    margin-left: -20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -webkit-box-align: stretch;

    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }

    .profile_settings_col {
      float: left;
      width: 50%;
      padding-left: 20px;
      padding-bottom: 40px;

      .profile_settings + .profile_settings:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include respond-to-max($resp_step_1) {
    display: block;

    .profile_settings_col {
      float: none;
      width: 100%;
      padding-bottom: 0;

      .profile_settings + .profile_settings:last-child {
        margin-bottom: 16px;
      }
    }
  }
}

.profile_settings_col {

  @include respond-to-min($resp_step_3) {
    height: auto !important;
  }
}

.profile_settings_inner {
  padding: 24px 16px 23px;

  ._faq & {
    padding-left: 20px;

    @include respond-to-max($resp_step_1) {
      padding: 16px 7px 15px;
      overflow: hidden;

      .profile_caption {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  &._has_icon {
    position: relative;
    padding-right: 60px;

    @include respond-to-max($resp_step_1) {
      padding-right: 40px;
    }
  }

  &._gray {
    background: #f9f9f9;
  }

  p {
    font-size: 18px;
    margin: 12px 0 2px;
  }

  .collapse_block &,
  + .profile_settings_inner {
    border-top: 1px solid #d8d8d8;
  }

  .profile_caption {

    &.mod_1 {
      margin-bottom: 24px;
    }
  }

  @include respond-to-max($resp_step_3) {
    p {
      margin-top: 18px;
      line-height: 1.4;
      padding-right: 95px;
    }
  }
}

.collapse_block {
  @include respond-to-max($resp_step_1) {
    ._prevent_collapse & {
      display: block !important;
    }

    &._no_bdr {
      margin: 0 -1px -1px;
      background: #fff;
      padding: 0 1px;
    }
  }
}

.profile_collapse_btn {
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 12px;
  height: 40px;
  width: 40px;
  line-height: 1;
  margin-top: -20px;
  z-index: 1;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
  }

  &:before {
    width: 10px;
    height: 2px;
    margin: -1px 0 0 -5px;
  }

  &:after {
    width: 2px;
    height: 10px;
    margin: -5px 0 0 -1px;
  }

  &.expanded {
    &:after {
      display: none;
    }
  }
}

.profile_caption {
  @extend %clearfix;
  font: 20px/25px $FormularBlack;

  @include respond-to-max($resp_step_1) {
    position: relative;
    margin: -24px -16px -24px !important;
    padding: 24px 16px;
    background: #f9f8f8;

    &.mod_1 {
      border-bottom: 1px solid #d8d8d8;

      //margin: -25px -17px -24px !important;
      //padding: 25px 17px;
    }
  }

  ._faq & {
    font-family: $FormularBold;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

.profile_settings_list {

  dt {
    opacity: .6;
    margin-bottom: 2px;
  }

  dd {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &._reverse {
    dt {
      margin-bottom: 17px;

      &:last-child {
        margin-bottom: 1px;
      }
    }

    dd {
      margin-bottom: 2px;
    }
  }

  @include respond-to-max($resp_step_3) {
    padding-right: 95px;
  }

  @include respond-to-max($resp_step_1) {
    padding: 0;

    &.mod_1 {
      padding-top: 40px;
    }
  }
}

.profile_settings_link {
  @include transition_all(color .3s);
  font: 16px/20px $FormularBold;
  color: $default_t_color;

  span {
    display: inline-block;
    vertical-align: middle;

    @include respond-to-max($resp_step_3) {
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  &:hover {
    color: $clr_pink;
  }

  &:active,
  &:focus {
    color: $clr_red;
  }

  @include respond-to-max($resp_step_1) {
    display: block;
    overflow: hidden;

    span + .settings_icon {
      float: right;
      padding-left: 10px;
    }
  }
}

.settings_icon {
  font-size: 38px;
  line-height: 20px;

  span + & {
    padding-left: 70px;

    @include respond-to-max($resp_step_2) {
      padding-left: 125px;
    }

    @include respond-to-max($resp_step_1) {
      padding-left: 50px;
    }
  }

  &:first-child {
    padding-right: 16px;

    .order_controls_left & {
      @include respond-to-max($resp_step_3) {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 5px;
      }

      @include respond-to-max($resp_step_2) {
        display: unset;
        width: auto;
        height: auto;
        margin-bottom: 0;
        line-height: unset;
      }

      @include respond-to-max($resp_step_1) {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 5px;
      }
    }
  }
}

.profile_ballance {
  font: 28px/38px $AvenirNextMedium;
}

.profile_msg_holder {
  position: relative;

  @include respond-to-max($resp_step_3) {
    position: absolute;
    right: 0;
    left: 20px;
    top: 0;
    z-index: 2;
  }
}

.msg_block_btn {
  position: absolute;
  top: 0;
  left: 300px;
  width: 60px;
  height: 60px;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
  margin-left: 20px;
  background: #ee4b84;
  color: #fff;
  cursor: pointer;

  @include respond-to-max($resp_step_2) {
    height: 55px;
  }

  @include respond-to-max($resp_step_1) {
    left: auto;
    right: 0;
  }

  @include respond-to-min($resp_step_2) {
    right: 0;
    left: auto;
  }
}

.profile_msg_block {
  position: relative;
  padding: 24px 40px 24px 16px;
  margin-bottom: 24px;

  &._warning {
    background: #ee4b84;
    color: #fff;
  }

  &._mod_1 {
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
    max-width: 550px;
  }

  @include respond-to-max($resp_step_3) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: none;
  }
}

.msg_title {
  font: 20px/25px $FormularBlack;
  margin-bottom: 24px;
}

.msg_link {
  text-decoration: underline;
  color: #fff;

  &:hover {
    text-decoration: none;
  }
}

.msg_controls {
  @extend %clearfix;
  margin-left: -15px;

  li {
    float: left;
    padding-left: 15px;
    margin-top: 17px;
  }
}

.msg_close {
  @extend %icon_pseudo;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  color: #fff;
  cursor: pointer;

  &:before {
    content: $i-close;
    font-size: 20px;
  }
}

.settings_collapse {
  cursor: pointer;
  font: 14px/25px $AvenirNextRegular;

  span {
    display: block;
  }

  ._on {
    display: none;
  }

  &._opened {
    ._on {
      display: block;
    }

    ._off {
      display: none;
    }
  }
}

.preloader_holder {
  text-align: center;
  position: relative;
  min-height: 45px;

  @include respond-to-max($resp_step_3) {
    padding-top: 23px;
  }

  @include respond-to-max($resp_step_1) {
    text-align: right;
  }
}

.preloader_link {
  font: 16px/20px $FormularBold;
  color: #000;

  //@include respond-to-min($resp_step_3) {
  //  position: absolute;
  //  left: 0;
  //  bottom: 0;
  //  height: 20px;
  //}

  //&._inline {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: 20px;
  //}
}

.preloader {
  display: inline-block;
  vertical-align: top;
  margin: -15px 0 -30px;

  img {
    display: block;
  }
}

.order_holder {

  @include respond-to-min($resp_step_1) {
    padding-top: 20px;
  }
}

.order_controls {
  @extend %clearfix;
  padding: 20px 0 68px;

  @include respond-to-min($resp_step_1) {
    padding: 32px 0 23px;
  }

  @include respond-to-min($resp_step_2) {
    padding: 35px 0 53px;
  }

  @include respond-to-min($resp_step_3) {
    padding: 40px 0 43px;
  }
}

.order_controls_left {

  @include respond-to-min($resp_step_1) {
    float: left;
    width: 50%;
  }

  @include respond-to-min($resp_step_2) {
    width: 30%;
    margin-top: -15px;
  }

  @include respond-to-min($resp_step_3) {
    width: 40%;
    margin-top: 0;
  }

  @include respond-to-max($resp_step_1) {
    padding-top: 25px;
    max-width: 180px;
  }
}

.order_controls_right {

  @include respond-to-min($resp_step_1) {
    float: right;
    width: 33%;
  }

  @include respond-to-min($resp_step_2) {
    width: 65.7%;
  }

  @include respond-to-min($resp_step_3) {
    float: right;
    width: 51%;
  }
}

.stock_info {

}

.order_summary {
  position: relative;
  overflow: hidden;
  border: 1px solid #d8d8d8;

  &._purchase {
    @include respond-to-min($resp_step_2) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        border-left: 1px solid;
        border-color: inherit;
        left: 50%;
      }
    }
  }
}

.order_summary_list {
  position: relative;

  dt {
    opacity: .6;
    font-size: 14px;
    margin-bottom: 4px;
  }

  dd {
    font-size: 18px;
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }

    &._total {
      font-size: 28px;
    }

    @include respond-to-min($resp_step_2) {
      margin-bottom: 30px;
    }
  }
}

.order_summary_col {
  padding: 24px 16px 26px;

  + .order_summary_col {
    border-top: 1px solid;
    border-color: inherit;
    padding-bottom: 25px;

    ._ref & {
      padding-bottom: 3px;

      &:last-child {
        padding-bottom: 23px;
      }
    }

    @include respond-to-min($resp_step_3) {
      padding-bottom: 60px;
    }
  }

  ._ref & {
    padding-bottom: 3px;
    border: none;
  }

  ._purchase & {
    + .order_summary_col {
      padding-bottom: 85px;
    }

    @include respond-to-min($resp_step_2) {
      padding: 24px 16px;
      float: left;
      width: 50%;

      + .order_summary_col {
        border-top: none;
        padding-bottom: 70px;
      }
    }
  }
}

.order_summary_footer {
  padding: 20px 0;
  text-align: center;
  font: 16px $FormularBold;

  @include respond-to-min($resp_step_2) {
    float: right;
    width: 50%;
  }
}

.profile_orders {
  margin: 0 -18px;

  .tr {
    @include respond-to-max($resp_step_1) {
      padding-bottom: 15px;
      border-bottom: 1px solid #d8d8d8;
      margin-bottom: 20px;

      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .th {
    font: 14px $FormularMedium;
  }

  .td {
    font: 14px/1.4 $FormularMedium;
    padding: 0 0 6px 0;
  }

  @include respond-to-min($resp_step_1) {
    display: table;
    width: 100%;
    margin: 0;
    border-collapse: collapse;

    .tr {
      display: table-row;
    }

    .th {
      display: table-cell;
      font: 14px $FormularMedium;
      padding: 0 10px 16px 0;
      //border-bottom: 1px solid #d8d8d8;
      vertical-align: top;

      .profile_settings_inner & {
        text-align: left;
      }
    }

    .td {
      display: table-cell;
      font: 14px $FormularMedium;
      padding: 15px 10px 9px 0;
      vertical-align: top;
      border-bottom: 1px solid #d8d8d8;
      line-height: 1.4;
    }
  }

  .order_holder & {

    .td {
      font-family: $AvenirNextMedium;

      @include respond-to-min($resp_step_3) {
        padding-top: 20px;
        padding-bottom: 13px;
      }

      @include respond-to-max($resp_step_3) {
        float: left;
        display: block;
      }
    }

    .th {
      @include respond-to-max($resp_step_3) {
        float: left;
        display: block;
      }
    }

    @include respond-to-max($resp_step_3) {
      display: block;

      .tr {
        position: relative;
        display: block;
        border-bottom: 1px solid #d8d8d8;

        &:before,
        &:after {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }

        + .tr {
          padding-bottom: 1px;
          margin-bottom: 7px;
        }
      }

      .th,
      .td {
        border: none;
      }
    }

    @include respond-to-max($resp_step_1) {
      margin: 0;

      .tr {

        &._head {
          border: none;
          margin-bottom: 0;
        }

        + .tr {
          padding-bottom: 44px;
          margin-bottom: 18px;
        }
      }

      .td {
        padding-bottom: 14px;
      }

    }
  }

  .col_1 {
    width: 70px;

    @include respond-to-max($resp_step_1) {
      float: left;
    }

    @include respond-to-min($resp_step_1) {
      width: 72px;
    }

    @include respond-to-min($resp_step_3) {
      width: 77px;
    }
  }

  .col_2 {

    @include respond-to-max($resp_step_1) {
      margin-left: 80px;
    }

    @include respond-to-min($resp_step_1) {
      width: 17%;
    }

    @include respond-to-min($resp_step_3) {
      width: 18%;
    }
  }

  .col_3 {

    @include respond-to-max($resp_step_1) {
      margin-left: 80px;
      min-height: 58px;
    }

    @include respond-to-min($resp_step_1) {
      width: 34.5%;
    }

    @include respond-to-min($resp_step_3) {
      width: 28.5%;
    }
  }

  .col_4 {
    white-space: nowrap;

    @include respond-to-max($resp_step_1) {
      float: left;
      clear: both;
      padding-right: 20px;
    }

    @include respond-to-min($resp_step_3) {
      width: 14%;
    }

    @include respond-to-max($resp_step_3) {
      text-align: left;
    }
  }

  .col_5 {
    white-space: nowrap;

    @include respond-to-max($resp_step_1) {
      float: left;
      padding-right: 10px;
    }

    @include respond-to-min($resp_step_3) {
      width: 14%;
    }

    @include respond-to-max($resp_step_3) {
      text-align: left;
    }
  }

  .col_6 {
    @include respond-to-max($resp_step_1) {
      float: right;
      padding-right: 22px;
    }
  }

  .col_7 {
    @include respond-to-max($resp_step_1) {
      float: right;
      padding-right: 22px;
    }
  }

  .col_22 {

    @include respond-to-max($resp_step_1) {
      &.td {
        margin-left: 80px;
        float: none;
      }
    }

    @include respond-to-min($resp_step_1) {
      width: 31%;
      padding-left: 8px;
    }

    @include respond-to-min($resp_step_2) {
      width: 32.5%;
    }

    @include respond-to-min($resp_step_3) {
      width: 20.5%;
    }
  }

  .col_23 {

    @include respond-to-max($resp_step_1) {
      &.td {
        clear: left;
        width: 25%;
      }
    }

    @include respond-to-min($resp_step_1) {
      width: 15%;
    }

    @include respond-to-min($resp_step_2) {
      width: 15.5%;
    }

    @include respond-to-min($resp_step_3) {
      width: 17.5%;
      text-align: right;
    }
  }

  .col_24 {
    white-space: nowrap;

    @include respond-to-min($resp_step_1) {
      width: 15.5%;
    }

    @include respond-to-min($resp_step_2) {
      width: 18%;
    }

    @include respond-to-min($resp_step_3) {
      width: 16%;
      text-align: right;
    }

    @include respond-to-max($resp_step_3) {
      text-align: left;
    }

    @include respond-to-max($resp_step_1) {
      float: left;
      width: 35%;
    }
  }

  .col_25 {

    @include respond-to-min($resp_step_1) {
      width: 15%;
    }

    @include respond-to-min($resp_step_3) {
      width: 16%;
      text-align: right;
    }

    @include respond-to-max($resp_step_3) {
      text-align: right;

      &.td {
        padding-right: 5px;
      }
    }

    @include respond-to-max($resp_step_1) {
      position: absolute;
      left: 18px;
      bottom: 7px;
      max-width: 105px;
    }
  }

  .col_26 {

    &.td {
      @include respond-to-max($resp_step_3) {
        //float: right !important;
        margin-right: 9% !important;
        //padding-top: 5px;
        max-width: 50%;
        text-align: right;
      }

      @include respond-to-max($resp_step_2) {
        margin-right: 12.5% !important;
      }

      @include respond-to-max($resp_step_1) {
        margin-right: 0 !important;
        float: right !important;
        max-width: 40%;
        padding-right: 0;
        padding-top: 0;
      }
    }

    @include respond-to-min($resp_step_3) {
      width: 14%;
      text-align: right;

      &.td {
        //float: none !important;
        //margin-right: 0 !important;
        //padding-top: 15px;
      }
    }

    @include respond-to-max($resp_step_1) {
      float: right;
      padding-right: 22px;
    }
  }

  .col_27 {
    @include respond-to-min($resp_step_3) {
      text-align: right;
      position: static;
      top: auto;
      right: auto;
      width: auto;
      padding-right: 14px;
    }

    &.td {
      @include respond-to-max($resp_step_3) {
        position: absolute;
        top: -2px;
        right: 0;
        width: 5.5%;
      }

      @include respond-to-max($resp_step_2) {
        width: 9%;
      }

      @include respond-to-max($resp_step_1) {
        top: auto;
        bottom: 7px;
        width: auto;
        right: 18px;
      }
    }

    &.th {
      @include respond-to-max($resp_step_1) {
        float: right !important;
        padding-right: 15px;
        padding-bottom: 0;
        position: relative;
      }
    }
  }

  .prod_cell {
    .product_bg,
    .product_block {
      width: 64px;
      height: 64px;
      overflow: hidden;
    }

    .product_img {
      max-width: 100%;
      max-height: 100%;

      img {
        max-width: 26px;
        max-height: 50px;
      }
    }
  }

  .text_right {

  }

  @include respond-to-max($resp_step_3) {
    .th {
      padding-bottom: 24px;
    }
  }
}

.cart_icon {
  @include transition_all(color .3s);
  font-size: 20px;
  cursor: pointer;

  + .cart_icon {
    padding-left: 7px;
  }

  &:hover {
    color: $clr_pink;
  }

  &:active,
  &:focus {
    color: $clr_red;
  }

  @include respond-to-max($resp_step_3) {
    display: block;

    + .cart_icon {
      padding: 0;
      margin: 14px 0 0;
    }
  }

  @include respond-to-max($resp_step_1) {
    display: inline-block;
    vertical-align: top;

    + .cart_icon {
      margin: 0 0 0 7px;
    }
  }
}

.sort_btn {
  @extend %icon_pseudo;
  padding-left: 5px;
  color: #000;
  cursor: pointer;

  &:before {
    content: $i-arrow_down;
  }

  &._up {
    &:before {
      content: $i-arrow_up;
    }
  }

  &._double:after {
    @include respond-to-max($resp_step_1) {
      content: $i-arrow_up;
    }
  }

  @include respond-to-min($resp_step_3) {
    padding-left: 10px;
  }
}

.sort_menu {
  z-index: 3;
  position: absolute;
  top: 100%;
  right: 17px;
  display: none;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 05);
  padding: 19px 15px 24px;
  width: 210px;

  .sort_open & {
    display: block;
  }
}

.sort_list {
  li {
    + li {
      margin-top: 13px;
    }
  }
}


