.trend_scroller_holder {
  height: 100%;

  @include respond-to-max($resp_step_3) {
    padding-top: 25px;
  }

  @include respond-to-max($resp_step_2) {
    padding-top: 15px;
  }

  @include respond-to-max($resp_step_1) {
    padding-top: 0;
  }
}

.trend_unit {
  @extend %clearfix;
  padding-top: 5px;
  padding-bottom: 45px;

  @include respond-to-min($resp_step_1) {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 0;
  }

  @include respond-to-min($resp_step_3) {
    padding-top: 0;
  }
}

.trend_text {
  font: 16px $AvenirNextMedium;

  h1 {
    font: 38px/.95 $FormularBlack;
    margin-bottom: 43px;
  }

  p {
    margin-top: 15px;
    margin-bottom: 48px;
    line-height: 1.6;
  }

  .caption_tip {
    margin-bottom: 15px;
  }

  @include respond-to-min($resp_step_1) {
    float: left;
    width: 248px;
    padding-right: 16px;

    h1 {
      margin-bottom: 58px;
    }

    p {
      margin-bottom: 55px;
    }
  }

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 320px;
    padding-right: 40px;

    h1 {
      font-size: 48px;
      line-height: .85;
    }
  }

  @include respond-to-min($resp_step_3) {
    float: left;
    width: 400px;
    padding-right: 120px;
  }
}

.trend_image_wrapper {
  position: relative;

  @include respond-to-max($resp_step_1) {
    padding-top: 15px;
  }

  @include respond-to-min($resp_step_1) {
    margin-left: 248px;
    //margin-right: 62px;
  }

  @include respond-to-min($resp_step_2) {
    margin-left: 320px;
    //margin-right: 80px;
  }

  @include respond-to-min($resp_step_3) {
    margin-left: 400px;
  }

  p {
    font: 16px $AvenirNextMedium;
    margin-bottom: 10px;
  }
}

.trend_image_controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  @include respond-to-max($resp_step_1) {
    display: none;
  }

  .trend_image_progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    margin: 20px 0;
  }

  .trend_progress_pin {

  }

  .trend_prev {
    bottom: 40px;

    &:before {
      content: $i-arrow_up;
    }
  }

  .trend_next {
    bottom: 0;

    &:before {
      content: $i-arrow_down;
    }
  }

  .trend_prev,
  .trend_next {
    @extend %icon_pseudo;
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
    right: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000;
  }

}

.next_trend_caption {
  font: 18px $FormularBlack;

  @include respond-to-min($resp_step_1) {
    font-size: 20px;
  }
}

.trend_links {
  line-height: 1.4;

  li {
    margin: 19px 0;
  }
}

.trend_scroller_w {
  @include respond-to-min($resp_step_1) {
    height: 70vh;
    overflow: hidden;
    min-height: 500px;
    margin-bottom: 40px;
    position: relative;
  }
}

.trend_scroller {
  @include respond-to-min($resp_step_1) {
    height: 100%;
  }
}

.trend_image_list {
  @include respond-to-min($resp_step_1) {
    padding-right: 62px;
  }

  @include respond-to-min($resp_step_3) {
    padding-right: 80px;
  }

  .trend_image_item {
    margin-bottom: 24px;

    @include respond-to-min($resp_step_1) {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.trend_image {

  img {
    display: block;
    max-width: 100%;
  }
}

.scroller_counter {
  @extend %translate3d;
  @include transform_rotate(-90);
  transform-origin: 100% 100%;
  position: absolute;
  color: #d8d8d8;
  height: 24px;
  font: 18px/24px $FormularBlack;
  top: -20px;
  right: 10px;
  z-index: 2;

  @include respond-to-max($resp_step_3) {
    right: 42px;
  }

  @include respond-to-max($resp_step_2) {
    right: 20px;
    top: -5px;
  }

  @include respond-to-max($resp_step_1) {
    display: none;
  }

}

.scroll_step {
  @include transition_all(color .3s);
  color: #000;

  &._end {
    color: #b43864;
  }
}

.faq_collapse {
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 32px;
  width: 24px;
  height: 24px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
  }

  &:after {
    height: 24px;
    width: 2px;
    margin-top: -12px;
    margin-left: -1px;
  }

  &:before {
    width: 24px;
    height: 2px;
    margin-left: -12px;
    margin-top: -1px;
  }

  ._opened & {
    &:after {
      display: none;
    }
  }

  @include respond-to-max($resp_step_1) {
    right: -14px;

    &:after {
      height: 14px;
      margin-top: -7px;
    }

    &:before {
      width: 14px;
      margin-left: -7px;
    }
  }
}

.form_tip {
  font: 16px/22px $AvenirNextMedium;
  margin-bottom: 24px;

  @include respond-to-min($resp_step_1) {
    letter-spacing: .065em;
  }

  @include respond-to-max($resp_step_3) {
    padding-top: 50px;
  }

  @include respond-to-max($resp_step_1) {
    padding-top: 30px;
    margin-bottom: 16px;
    line-height: 20px;
  }
}

.form_holder {
  background: #f5f5f5;
  padding: 30px 30px 40px;

  .f_cell {
    + .f_cell {
      margin-top: 16px;
    }
  }

  @include respond-to-max($resp_step_3) {
    margin-bottom: 25px;
  }

  @include respond-to-max($resp_step_1) {
    padding: 15px 15px 30px;

    .contact_btn {
      width: 100%;
      max-width: 320px;
    }
  }
}

.faq_answer {
  font: 16px/25px $AvenirNextMedium;
  margin-bottom: 17px;

  @include respond-to-max($resp_step_2) {
    max-width: 505px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}

.order_status {
  opacity: .6;
  font: 16px $AvenirNextMedium;
  padding-left: 10px;

  @include respond-to-max($resp_step_1) {
    font-size: 12px;
    padding-left: 8px;
  }
}

.order_caption {
  font: 20px/25px $FormularBlack;
  margin-bottom: 20px;
}

.order_text {
  color: rgba(0, 0, 0, .6);
  font: 14px/19px $AvenirNextRegular;
  margin-top: -5px;
  
  p {
    margin-bottom: 20px;
  }

  @include respond-to-min($resp_step_3) {
    letter-spacing: -.012em;
  }
}

.order_price {
  color: rgba(0, 0, 0, .4);
  font: 18px/25px $AvenirNextMediumItalic;

  @include respond-to-max($resp_step_1) {
    font-size: 16px;
    line-height: 21px;
  }

  @include respond-to-min($resp_step_3) {
    color: #b43864;
  }
}

.order_title {
  font: 16px $FormularBold;
  margin-bottom: 25px;

  @include respond-to-min($resp_step_1) {
    margin-bottom: 34px;
  }

  @include respond-to-max($resp_step_1) {
    font-size: 12px;
  }
}

.order_steps {

  @include respond-to-min($resp_step_1) {
    padding-bottom: 7px;
  }

  li {
    font-size: 16px;
    opacity: .4;
    margin-bottom: 11px;

    &._current {
      opacity: 1;
    }

    @include respond-to-max($resp_step_1) {
      font-size: 14px;
    }
  }
}

.delivery_variants {
  padding: 55px 0 10px;

  .profile_caption {
    font-family: $FormularBold;
  }

  @include respond-to-min($resp_step_1) {
    padding-top: 30px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 15px;
  }

  @include respond-to-min($resp_step_3) {
    padding-bottom: 15px;
  }

  > li {

    @include respond-to-max($resp_step_1) {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 10px;
      }
    }

    @include respond-to-min($resp_step_1) {
      margin-bottom: 55px;
    }

    @include respond-to-min($resp_step_2) {
      margin-bottom: 71px;

      &:last-child {
        margin-bottom: 50px;
      }
    }

    @include respond-to-min($resp_step_3) {
      margin-bottom: 96px;

      &:last-child {
        margin-bottom: 96px;
      }
    }
  }
}

.delivery_variant {
  @extend %clearfix;

  @include respond-to-max($resp_step_1) {
    .caption_tip {
      margin-bottom: 25px;
    }
  }
}

.delivery_info {
  > p {
    line-height: 25px;
    font-size: 16px;
  }

  &._wide {
    min-width: 56%;
  }

  @include respond-to-max($resp_step_2) {
    max-width: 525px;
  }

  @include respond-to-min($resp_step_1) {

  }

  @include respond-to-min($resp_step_2) {
    float: left;
    width: 50%;

    > p {
      line-height: 25px;
      font-size: 16px;
    }
  }

  @include respond-to-min($resp_step_3) {
    width: 49%;
  }
}

.delivery_price {
  padding-top: 30px;

  @include respond-to-max($resp_step_2) {
    max-width: 525px;
  }

  @include respond-to-max($resp_step_1) {
    margin: 0 -9px;
  }

  @include respond-to-min($resp_step_2) {
    width: 43%;
    padding-top: 0;
    float: right;
  }

  @include respond-to-min($resp_step_3) {
    width: 41%;
  }
}

.delivery_price_box {
  display: table;
  min-width: 76%;
  border: 1px solid #d8d8d8;
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;

  @include respond-to-max($resp_step_1) {
    max-width: 400px;
    width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    width: 100%;
  }
}

.delivery_cell {
  display: table-cell;
  vertical-align: middle;
  padding: 33px 2px;
  text-align: center;

  p {
    line-height: 1.3;
  }

  + .delivery_cell {
    border-left: 1px solid #d8d8d8;
    background: #f5f5f5;
  }

  &._free {
    @include respond-to-max($resp_step_2) {
      padding: 42px 10px;
      letter-spacing: .15em;
    }

    @include respond-to-max($resp_step_1) {
      padding: 52px 5px 42px;
    }
  }
}

.delivery_tip {
  font: 20px/25px $FormularMedium;
  margin-bottom: 5px;
}

.delivery_val {
  color: #b43864;
  font: 30px/41px $AvenirNextDemiBold;

  @include respond-to-min($resp_step_1) {
    font-size: 36px;
    line-height: 49px;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 40px;
    line-height: 55px;
  }
}

.payment_img {
  float: left;
  width: 47%;
  line-height: 40px;
  padding: 0 5px 0 0;

  img {
    display: inline-block;
    vertical-align: middle;
  }

  @include respond-to-max($resp_step_1) {

    &._visa img {
      max-width: 68%;
    }

    &._mc img {
      max-width: 37%;
    }
  }

  @include respond-to-min($resp_step_1) {
    width: 50%;
    line-height: 60px;
    padding: 3px 5px 3px 0;

    img {
      max-width: 100%;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding: 0 5px;
    text-align: center;
  }

  @include respond-to-min($resp_step_3) {
    margin-top: -10px;
  }
}

.delivery_caption {
  font: 20px/1 $FormularBlack;
  margin-bottom: 21px;
}

.self_delivery_w {
  @include respond-to-max($resp_step_1) {
    margin: 0 -10px;
  }
}

.self_delivery {
  position: relative;
  margin-top: 24px;
  padding: 8px 12px 32px;
  min-height: 440px;

  @include respond-to-min($resp_step_1) {
    margin-top: 35px;
    min-height: 590px;
    padding: 15px 52.2% 1px 15px;
  }

  @include respond-to-min($resp_step_2) {
    margin-top: 40px;
    padding: 0 68% 0 0;
  }

  @include respond-to-min($resp_step_3) {
    margin-top: 40px;
    padding-right: 67.8%;
  }
}

.self_delivery_collapse {
  @extend %icon_pseudo;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 44px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;

  &:before {
    content: $i-chevron_up;
    display: inline-block;
    vertical-align: middle;
  }

  @include respond-to-max($resp_step_1) {
    height: 38px;
    line-height: 34px;
  }

  @include respond-to-min($resp_step_2) {
    display: none;
  }

}

.self_delivery_search {
  position: relative;
  padding: 104px 12px 43px;
  background: #fff;
  height: 400px;

  &:before {
    content: '';
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 41px;
    border-bottom: 1px solid #000;
  }

  @include respond-to-max($resp_step_2) {

    &._collapsed {
      height: auto;
      padding-bottom: 0;

      .self_delivery_collapse {
        &:before {
          content: $i-chevron_down;
        }
      }

      .self_delivery_offices {
        display: none;
      }
    }
  }

  @include respond-to-max($resp_step_1) {
    width: 296px;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_1) {
    height: 505px;
    padding: 104px 17px 70px;

    &:before {
      left: 17px;
      right: 17px;
      bottom: 43px;
    }
  }

  @include respond-to-min($resp_step_2) {
    height: 506px;
    padding: 88px 0 24px;

    &:before {
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  @include respond-to-min($resp_step_3) {
    height: 637px;
  }
}

.self_delivery_form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include respond-to-max($resp_step_2) {
    padding: 17px;
  }

  @include respond-to-max($resp_step_1) {
    padding: 15px 12px;
  }
}

.self_delivery_offices {
  height: 100%;
  overflow: hidden;
  margin-right: -5px;
}

.self_delivery_office {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 17px;

  p {
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 22px;
  }
}

.office_caption {
  font: 18px/22px $FormularBlack;
  margin-bottom: 24px;
}

.self_delivery_list {
  padding-right: 32px;

  li {
    margin-bottom: 24px;
  }

  @include respond-to-max($resp_step_1) {
    padding-right: 15px;
  }
}

.self_delivery_map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;

  @include respond-to-min($resp_step_2) {
    width: 66%;
  }
}

.map_block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.delivery_search {
  position: relative;

  .f_input {
    padding-right: 60px;
  }
}
