include mixins.pug
doctype html
html(lang='ru')
  +dev_head('WIC about')

  body
    .wrapper
      .base
        +header()

        .main_content
          .section_inner
            .hero_slider
              .hero_box
                .hero_img
                  img(src='i/index_hero.jpg')
                .hero_text 
                  .hero_caption Мы не следуем трендам, мы создаём их
                  .hero_info_w: .hero_info 
                    .hero_info_col Интернет-магазин WIC.one создан с целью предоставления лучшего сервиса в сочетании с оптимальным выбором продуктов для волос и профессиональной косметики. Мы стремимся, чтобы WIC соответствовал  по-настоящему уникальной торговой площадке, на которой предлагаются исключительно 
                    .hero_info_col новаторские и качественные продукты из индустрии красоты и здоровья. Дорогие Покупатели, мы всегда внимательно прислушиваемся к вашим замечаниям и пожеланиям. С вашей поддержкой магазин станет еще удобнее и функциональнее, а качество клиентского обслуживания приблизится к лучшим мировым стандартам.
                
            .service_info
              .block_title Сервис которого<br>ещё не было
                
              .service_col
                p Мы не понаслышке знакомы с работой салонов красоты, и поэтому смогли создать для вас действительно уникальный сервис. Присоединяйтесь к семье WIC. А также мы даём уникальную возможность не только профессионалам, но и тем кто просто следит за собой, приобретать продукцию высочайшего качества от мировых брендов по доступной цене.

            ul.service_counters
              li 
                .counter 12
                p Ведущих брендов
                
              li 
                .counter 543
                p Позиций товаров
                
              li 
                .counter 12 000
                p Товаров в наличии
                
              li 
                .counter 20
                p Салонов с нами
                
            .service_info
              .block_title Мы отличаемся<br>от остальных

              ul.difference_block
                li
                  .caption_tip Ассортимент
                  p В нашем магазине Вы найдете продукцию только ведущих брендов, которую еще совсем недавно возможно было купить исключительно в салонах красоты.
                  
                li
                  .caption_tip Цена
                  p Мы имеем возможность обеспечить нашим клиентам лучшую цену, закупая косметику только у крупных дистрибьюторов, либо напрямую у производителя.
                  
                li
                  .caption_tip Доставка
                  p Курьерская служба обеспечит быструю и недорогую доставку Вашего заказа по удобному для Вас адресу в удобное для Вас время.
                  
                li
                  .caption_tip Сервис
                  p Наши менеджеры оперативно обработают Ваш заказ и постараются сделать так, чтобы процесс покупки принес Вам только положительные эмоции!
                
        .subscribe_section
          .section_inner
            .subscribe_block._mod-1
              form(action='#')
                .block_title Оставайся в тренде
                p Лучший способ узнать о наших  новостях, акциях, скидках и специальных предложениях - это подписаться на нашу рассылку
                
                .subscribe_row
                  .f_row.f_row_v1
                    .f_cell
                      .input_w
                        input.f_input_v1.f_input(placeholder='Ваше имя')
                      
                    .f_cell
                      .input_w
                        input.f_input_v1.f_input(placeholder='Ваш email')
                      
                    .f_cell
                      button.btn_v2.btn_black_bd.subscribe_btn
                        span Подписаться
                        
      +footer()

    +scripts(1)
