include mixins.pug
doctype html
html(lang='ru')
  +dev_head('WIC cart')

  body
    .wrapper._cart
      .base
        +header()

        .main_content
          .section_inner.clearfix
            .block_title._wish_mode Корзина

            .cart_col._main
              
              
            .cart_col._info
            
              
              
              
      +footer()

    +scripts(5)
