include mixins.pug
doctype html
html(lang='ru')
  +dev_head('WIC contact')

  body
    .wrapper._contacts
      .base
        +header()

        .main_content
          .section_inner
            .block_title._wish_mode Наши контакты

            ul.contact_info
              li
                .caption_tip 
                  span По вопросам 
                  span.mob_only <br>
                  span сотрудничества
              
                dl.contact_list
                  dt телефон
                  dd
                    a.gl_link(href='tel:+74951234567') +7 (495) 123 45 67
                  
                  dt email
                  dd 
                    a.gl_link(href='mailto:info@mywellpoint.ru') info@mywellpoint.ru 
                  
              li
                .caption_tip 
                  span По вопросам оплаты 
                  span.mob_only <br>
                  span и доставки
              
                dl.contact_list
                  dt телефон
                  dd
                    a.gl_link(href='tel:+74951234567') +7 (495) 123 45 67
                  
                  dt email
                  dd 
                    a.gl_link(href='mailto:info@mywellpoint.ru') info@mywellpoint.ru 
                  
            .block_title._wish_mode Написать нам
              
            .contact_form
              form.validateMe(action='#' data-prompts='false')
                .f_row.f_row_v3
                  .f_cell
                    .input_w.formCell._has_icon
                      input#contacts_name.f_input_v3.checkEmpty.f_input(class='validate[required]')
                      label.f_label.f_label_v3(for='contacts_name') Ваше имя
                  .f_cell
                    .input_w.formCell._has_icon
                      input#contacts_email.f_input_v3.checkEmpty.f_input(class='validate[required,custom[email]]')
                      label.f_label.f_label_v3(for='contacts_email') Ваш email

                .f_row.f_row_v4
                  .f_cell
                    .input_w
                      textarea#contacts_msg.f_input_v3.checkEmpty.f_input()
                      label.f_label.f_label_v3(for='contacts_msg') Ваше сообщение

                .f_row.f_row_v2
                  .f_cell
                    button.btn_v3.btn_black.contact_btn Отправить

      +footer()

    +scripts(2)
