include mixins.pug
doctype html
html(lang='ru')
  +dev_head('WIC faq')

  body
    .wrapper._profile
      .base
        +header()

        .main_content
          .section_inner
            .grid_row
              .grid_col._col_1
                +aside(5)
                        
              .grid_col._col_4._faq
                .profile_settings.collapseHolder
                  .profile_settings_inner._gray._has_icon
                    .profile_caption
                      .fl Как сделать заказ
                      span.collapseBtn.faq_collapse

                  .collapseBlock.collapse_block(style='display:none')
                    .profile_settings_inner
                      .faq_answer Зайдите в свой аккаунт, перейдите в профиль и выбирете раздел отслеживание заказо. Там вы сможете увидеть статус вашего заказ и его продвижение. Если у вас возникли вопросы по заказу вы также можете задать их вашему менеджеру, контактная информация есть на вкладке профиль.
                      
                .profile_settings.collapseHolder
                  .profile_settings_inner._gray._has_icon
                    .profile_caption
                      .fl Как отследить где мой заказ?
                      span._opened.faq_collapse.collapseBtn

                  .collapseBlock.collapse_block
                    .profile_settings_inner
                      .faq_answer Зайдите в свой аккаунт, перейдите в профиль и выбирете раздел отслеживание заказо. Там вы сможете увидеть статус вашего заказ и его продвижение. Если у вас возникли вопросы по заказу вы также можете задать их вашему менеджеру, контактная информация есть на вкладке профиль.
                      
                .profile_settings.collapseHolder
                  .profile_settings_inner._gray._has_icon
                    .profile_caption
                      .fl Как оплатить?
                      span.collapseBtn.faq_collapse

                  .collapseBlock.collapse_block(style='display:none')
                    .profile_settings_inner
                      .faq_answer Зайдите в свой аккаунт, перейдите в профиль и выбирете раздел отслеживание заказо. Там вы сможете увидеть статус вашего заказ и его продвижение. Если у вас возникли вопросы по заказу вы также можете задать их вашему менеджеру, контактная информация есть на вкладке профиль.
                      
                .profile_settings.collapseHolder
                  .profile_settings_inner._gray._has_icon
                    .profile_caption
                      .fl Кто такие рефералы?
                      span.collapseBtn.faq_collapse

                  .collapseBlock.collapse_block(style='display:none')
                    .profile_settings_inner
                      .faq_answer Зайдите в свой аккаунт, перейдите в профиль и выбирете раздел отслеживание заказо. Там вы сможете увидеть статус вашего заказ и его продвижение. Если у вас возникли вопросы по заказу вы также можете задать их вашему менеджеру, контактная информация есть на вкладке профиль.
                      
                .profile_settings.collapseHolder
                  .profile_settings_inner._gray._has_icon
                    .profile_caption
                      .fl Как подключить реферала?
                      span.collapseBtn.faq_collapse

                  .collapseBlock.collapse_block(style='display:none')
                    .profile_settings_inner
                      .faq_answer Зайдите в свой аккаунт, перейдите в профиль и выбирете раздел отслеживание заказо. Там вы сможете увидеть статус вашего заказ и его продвижение. Если у вас возникли вопросы по заказу вы также можете задать их вашему менеджеру, контактная информация есть на вкладке профиль.
                      
              .grid_col._col_5
                .form_tip Не нашли ответ на свой вопрос?<br>Можете задать его нам:
                .form_holder
                  form(action='#')
                    .f_cell
                      textarea.f_input.f_input_v5(placeholder='Ваш вопрос')
                    .f_cell
                      button.btn_v3.btn_black.contact_btn Отправить
                      
      +footer()

    +scripts(2)
