mixin dev_head(page_title)
  head
    title=page_title
    | <!-- saved from url=(0014)about:internet -->
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="format-detection", content="telephone=no")
    //-style
      include ../styles/main_global.css
    link(rel='stylesheet', href='styles/main_global.css', media='all')


mixin loop_while(counter)
  -i=0;
  while i < counter
    -i++;
    block

mixin footer()
  .popup_controls
    .section_inner
      .popup_close.closePopupBtn

  .footer
    .section_inner.clearfix
      .logo_block
        a.logo(href='index.html')
          +logo_svg()
          
      ul.main_menu
        li.main_m_item: a.menu_link(href='shop.html'): span Магазин
        li.main_m_item: a.menu_link(href='#'): span Тренды
        li.main_m_item: a.menu_link(href='#'): span Профессионалам
        li.main_m_item: a.menu_link(href='#'): span Доставка и оплата
        li.main_m_item: a.menu_link(href='about.html'): span Мы WIC
        li.main_m_item: a.menu_link(href='contact.html'): span Контакты
      
      .copyrights © 2017 «WIC.one»
        
      .dev_block
        span Разработано в 
        a.gl_link(href='#') Yoldi.ru
      
  .search_holder.searchBlock
    .section_inner
      .search_form
        form(action='#')
          .f_cell.search_row
            input#search.f_input_v12.f_input
            label.f_label_v2.f_label(for='search')
              span Искать 
              span.label_itp  (продукты, тренды)
            button.btn_v3.search_btn
              span.i-search
              
        .search_results
          .search_result_col
            .search_result_caption Продукты
            ul.search_rslt_list
              +loop_while(3)
                li
                  .search_rslt
                    a.product_block(href='product.html')
                      .product_bg
                        img(src='i/oribe_gray_bg.jpg')
                      .product_img
                        img.shadowed(src='i/product_1.png')
                    
                    p Anti-Aging Smoothing Hydra-Gelee Nourishing Hair Perfector
                    p
                      .search_rslt_price 2 490 руб.
                      
          .search_result_col
            .search_result_caption Тренды
            ul.search_rslt_list
              +loop_while(3)
                li
                  .search_rslt
                    a.product_block(href='product.html')
                      .product_bg
                        img(src='i/oribe_gray_bg.jpg')
                      .product_img
                        img.shadowed(src='i/product_1.png')
                    .caption_tip Причёски
                    p Women Of The 7Th Art,<br>Весна-Лето 2017
                    
mixin header(shop)
  .header
    .section_inner.clearfix
      .logo_block
        a.logo(href='index.html')
          +logo_svg()

      ul.user_menu
        li(class= shop ? '_active' : ''): a.menu_link(href='shop.html'): span Магазин
        li: a.menu_link(href='cart.html'): span
          span.menu_l_icon.i-cart.cartIcon
        li._small: a.menu_link(href='wishlist.html'): span
          span.i-heart.menu_l_icon
        li._small: a.menu_link.authBtn(href='#'): span
          span.menu_l_icon.i-account

      .main_menu_holder
        ul.main_menu
          li.main_m_item: a.menu_link(href='trends.html'): span Тренды
          li.main_m_item: a.menu_link(href='#'): span Профессионалам
          li.main_m_item: a.menu_link(href='delivery.html'): span Доставка и оплата
          li.main_m_item: a.menu_link(href='about.html'): span Мы WIC
          li.main_m_item: a.menu_link(href='contact.html'): span Контакты
        .main_m_item.wide_hidden
          a.menu_link.openMobMenu(href='#')
            span.hamburger
              span
        .main_m_item.tab_vis: a.menu_link.openSearchBtn(href='#'): span
          span.i-search.menu_l_icon
          
    - if (shop)
      .store_menu_holder
        .section_inner
          ul.store_menu
            li: a.store_link(href='#'): span Волосы
            li: a.store_link(href='#'): span Ногти
            li: a.store_link(href='#'): span Брови
            li: a.store_link(href='#'): span Лицо
            li: a.store_link(href='#'): span Тело

mixin check(txt, chck)
  label.f_check.f_check_v1
    input.inp_hidden(type='checkbox' checked=(chck ? 'checked' : null))
    span.check_text= txt
      
mixin mob_sort()
  span.sort_btn._double.openMobSort
  .sort_menu
    ul.sort_list
      li: a.gl_link(href='#') По цене
      li: a.gl_link(href='#') По возрастанию
      li: a.gl_link(href='#') По убыванию


mixin scripts(page)
  #reg_popup.popup.popup_v1
    form.popup_inner(action='#')
      .popup_caption Войти

      .f_row.f_row_v6
        .f_cell
          input.f_input_v11.f_input(placeholder='Телефон или email')

        .f_cell
          input.f_input_v11.f_input(placeholder='Пароль')
          a.remind_link(href='#') Забыли пароль?
          
      .f_row.f_row_v7
        button.btn_v1.filter_btn.btn_black
          span Войти
        
      .text_center
        a.login_link.authBtn(href='#') или Зарегистрироваться
          
  #auth_popup.popup.popup_v1
    form.popup_inner(action='#')
      .popup_caption Регистрация
      
      ul#auth_switcher.f_row.f_row_v5
        li.f_cell
          a.tab_link(href='#auth_tab_1')
            span.check_text Я частное лицо
        li.f_cell
          a.tab_link(href='#auth_tab_2')
            span.check_text Я салон
            
      .tabBlock(data-tab-context='#auth_switcher')
        #auth_tab_1.tab_panel
          .f_row.f_row_v6
            .f_cell
              input.f_input_v11.f_input(placeholder='Ваш телефон')
    
            .f_cell
              input.f_input_v11.f_input(placeholder='Ваш email')
    
            .f_cell
              input.f_input_v11.f_input(placeholder='Название салона')
    
            .f_cell
              input.f_input_v11.f_input(placeholder='Контактное лицо')
              
            .f_cell
              input.f_input_v11.f_input(placeholder='Город')
    
            .f_cell
              input.f_input_v11.f_input(placeholder='Придумайте пароль')
              
          .f_row.f_row_v7
            button.btn_v1.filter_btn.btn_black
              span Зарегистрироваться
            
          .text_center
            a.login_link.regBtn(href='#') или Войти
          
        #auth_tab_2.tab_panel
          .f_row.f_row_v6
            .f_cell
              input.f_input_v11.f_input(placeholder='Ваш телефон')
    
            .f_cell
              input.f_input_v11.f_input(placeholder='Ваш email (опционально)')
                  
            .f_cell
              input.f_input_v11.f_input(placeholder='Придумайте пароль')
              
          .f_row.f_row_v7
            button.btn_v1.filter_btn.btn_black
              span Зарегистрироваться
            
          .text_center
            a.login_link.regBtn(href='#') или Войти
          



  script(src='js/jquery1.10.js')
  script(src='js/jquery-ui-1.11.4.js')
  script(src='js/select2.js')
  script(src='js/jquery.validationEngine.js')
  script(src='js/jquery.validationEngine-ru.js')
  script(src='js/tap.js')
  script(src='js/jquery.inputmask.bundle.js')
  script(src='js/script.js')
  
  - if (page === 1)
    script(src='js/slick.js')
    script(src='js/index.js')
    
  - if (page === 2)
    script(src='js/nouislider.js')
    script(src='js/jquery.mCustomScrollbar.min.js')
    script(src='js/slick.js')
    script(src='js/shop.js')
        
  - if (page === 3)
    script(src='js/nouislider.js')
    script(src='js/jquery.mCustomScrollbar.min.js')
    script(src="js/isotop/isotope.pkgd.js")
    script(src="js/isotop/cells-by-column.js")
    script(src="js/isotop/cells-by-row.js")
    script(src="js/isotop/fit-columns.js")
    script(src="js/isotop/horizontal.js")
    script(src="js/isotop/masonry-horizontal.js")
    script(src="js/isotop/packery-mode.pkgd.js")
    script(src='js/trends.js')
    
  - if (page === 4)
    script(src='js/jquery.mCustomScrollbar.min.js')
    script(src='js/trend.js')
    
  - if (page === 5)
    script(src='js/jquery.mCustomScrollbar.min.js')
    script(src='js/delivery.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCl7THpWflv0u70jhfuU4T6KbuNy0fuxME&callback=loadMap')
    
  - if (page === 6)
    script(src='js/jquery.mCustomScrollbar.min.js')
    script(src='js/referrals.js')
    
  - if (page === 7)
    script(src='js/cart.js')
    
mixin aside(active, sub)
  .aside
    .aside_menu
      .aside_m_item(class= (active === 1 ? 'drop_down' : ''))
        a.aside_m_link(href='profile.html' class= (active === 1 ? 'openAsideMenu' : ''))
          span Профиль
          - if (active === 1)
            span.aside_m_icon
      .aside_m_item(class= (active === 2 ? 'drop_down _opened' : ''))
        a.aside_m_link(href='orders.html' class= (active === 2 ? 'openAsideMenu' : ''))
          span Закупки
          - if (active === 2)
            span.aside_m_icon
        - if (active === 2)
          ul.aside_submenu
            li(class= (sub === 1 ? 'sub_active' : ''))
              a.submenu_link(href='new_order.html' class= (sub === 1 ? '_active openAsideSub' : ''))
                span Сделать заказ
            li(class= (sub === 2 ? 'sub_active' : ''))
              a.submenu_link(href='history.html' class= (sub === 2 ? '_active openAsideSub' : ''))
                span История заказов
            li(class= (sub === 3 ? 'sub_active' : ''))
              a.submenu_link(href='stock.html' class= (sub === 3 ? '_active openAsideSub' : ''))
                span Склад

      .aside_m_item(class= (active === 3 ? 'drop_down' : ''))
        a.aside_m_link(href='referrals.html' class= (active === 3 ? 'openAsideMenu' : ''))
          span Рефералы
          - if (active === 3)
            span.aside_m_icon
      .aside_m_item(class= (active === 4 ? 'drop_down' : ''))
        a.aside_m_link(href='tracking.html' class= (active === 4 ? 'openAsideMenu' : ''))
          span Отслеживание заказов
          - if (active === 4)
            span.aside_m_icon
      .aside_m_item(class= (active === 5 ? 'drop_down' : ''))
        a.aside_m_link(href='faq.html' class= (active === 5 ? 'openAsideMenu' : ''))
          span FAQ
          - if (active === 5)
            span.aside_m_icon

mixin logo_svg()
  <svg width="64px" height="20px" viewBox="0 0 64 20" version="1.1" xmlns="http://www.w3.org/2000/svg"      xmlns:xlink="http://www.w3.org/1999/xlink">   <title>wic</title>   <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">     <g id="logo_layer" transform="translate(0.000000, -40.000000)" fill-rule="nonzero" fill="#000000">       <g id="wic" transform="translate(0.000000, 40.000000)">         <g id="Layer_1">           <path             d="M60.6490566,13.1409091 C59.2501754,15.9226082 56.167253,17.4176519 53.1268777,16.7887421 C50.0865024,16.1598323 47.8435936,13.5631261 47.6542907,10.4529068 C47.4649879,7.34268758 49.3762944,4.49121676 52.3177846,3.49545845 C55.2592747,2.49970014 58.5005822,3.60689922 60.2264151,6.1969697 L63.5864151,6.1969697 C61.7426295,1.7973945 57.0280813,-0.648940499 52.3860326,0.385195944 C47.743984,1.41933239 44.5030434,5.63795834 44.6865093,10.4074127 C44.8699753,15.1768671 48.4253376,19.1320763 53.1330064,19.8038287 C57.8406752,20.4755811 62.3532608,17.6716132 63.8535849,13.1424242 L60.6490566,13.1424242 L60.6490566,13.1409091 Z"             id="Shape"></path>           <rect id="Rectangle-path" x="33.4430189" y="0.389393939" width="3.06113208" height="19.2757576"></rect>           <polygon id="Shape"                    points="3.06113208 0.389393939 0 0.389393939 6.97811321 19.6651515 10.0392453 19.6651515"></polygon>           <polygon id="Shape"                    points="11.5139623 0.389393939 8.45283019 0.389393939 15.4309434 19.6651515 18.4920755 19.6651515"></polygon>           <polygon id="Shape"                    points="22.525283 0.389393939 25.5864151 0.389393939 18.6083019 19.6651515 15.5471698 19.6651515"></polygon>           <polygon id="Shape"                    points="11.2618868 8.24393939 14.3230189 8.24393939 10.0543396 19.6651515 6.99320755 19.6651515"></polygon>         </g>       </g>     </g>   </g> </svg>

  .hide
    <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg">
    <filter id="drop-shadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="2.2"/>
    <feOffset dx="15" dy="20" result="offsetblur"/>
    <feFlood flood-color="rgba(0,0,0,.5)"/>
    <feComposite in2="offsetblur" operator="in"/>
    <feMerge>
    <feMergeNode/>
    <feMergeNode in="SourceGraphic"/>
    </feMerge>
    </filter>
    </svg>
   
