include mixins.pug
doctype html
html(lang='ru')
  +dev_head('WIC orders')

  body
    .wrapper._profile
      .base
        +header()

        .main_content
          .section_inner
            .grid_row
              .grid_col._col_8
                +aside(2, 1)
                        
              .grid_col._col_7
                .order_caption Новый заказ 
                .order_holder
                  .profile_orders
                    .tr._head
                      .th.mob_hidden.col_1 &nbsp;
                      .th.mob_hidden.col_22 
                        span Наименование
                        span.sort_btn
                      .th.mob_hidden.col_23
                        span Объём
                        span.wide_only
                          span , мл
                        span.sort_btn

                      .th.mob_hidden.col_24
                        span Цена
                        span.wide_only
                          span , руб.
                        span.sort_btn
                      .th.mob_hidden.col_25
                        span Количество
                        span.wide_only
                          span , шт.
                        
                      .th.mob_hidden.col_26.wide_only
                        span Сумма, руб.
                      .th.col_27 
                        span.mob_hidden &nbsp;
                        span.mob_only
                          +mob_sort()

                    .tr
                      .td.prod_cell.col_1
                        a.product_block(href='product.html')
                          .product_bg
                            img(src='i/oribe_gray_bg.jpg')
                          .product_img
                            img.shadowed(src='i/product_2.png')
                            
                      .td.col_22 Alterna Caviar Anti-Aging Smoothing Hydra-Gelee Nourishing Hair Perfector
                      .td.col_23
                        span 1 000
                        span.wide_hidden  мл
                      .td.col_24
                        span 24 390
                        span.wide_hidden  руб.
                      .td.col_25
                        .details_product_quantity
                          .valCell.input_w
                            input.f_input.f_input_v7.text_center(value='1' data-min='1' data-max='99' data-step='1' data-inputmask="'alias': 'numeric', 'rightAlign': false, 'allowMinus': false, 'allowPlus': false, 'autoGroup': false, 'groupSeparator': '', 'autoUnmask': true, 'digits': 0, 'placeholder': '0', 'repeat': 2, 'digitsOptional': false" )
                            span.btn_v4.counter_btn._minus.valMinus
                            span.btn_v4.counter_btn._plus.valPlus
                      .td.col_26
                        .order_price
                          span 24 390
                          span.wide_hidden  руб.

                      .td.col_27
                        span.cart_icon.i-remove
                      
                    .tr
                      .td.prod_cell.col_1
                        a.product_block(href='product.html')
                          .product_bg
                            img(src='i/oribe_gray_bg.jpg')
                          .product_img
                            img.shadowed(src='i/product_6.png')
                            
                      .td.col_22 Sebastian Dark Oil
                      .td.col_23
                        span 250
                        span.wide_hidden  мл
                      .td.col_24
                        span 850
                        span.wide_hidden  руб.
                      .td.col_25
                        .details_product_quantity
                          .valCell.input_w
                            input.f_input.f_input_v7.text_center(value='1' data-min='1' data-max='99' data-step='1' data-inputmask="'alias': 'numeric', 'rightAlign': false, 'allowMinus': false, 'allowPlus': false, 'autoGroup': false, 'groupSeparator': '', 'autoUnmask': true, 'digits': 0, 'placeholder': '0', 'repeat': 2, 'digitsOptional': false" )
                            span.btn_v4.counter_btn._minus.valMinus
                            span.btn_v4.counter_btn._plus.valPlus
                      .td.col_26
                        .order_price
                          span 510 000
                          span.wide_hidden  руб.

                      .td.col_27
                        span.cart_icon.i-remove
                      
                    .tr
                      .td.prod_cell.col_1
                        a.product_block(href='product.html')
                          .product_bg
                            img(src='i/oribe_gray_bg.jpg')
                          .product_img
                            img.shadowed(src='i/product_5.png')
                            
                      .td.col_22 Sebastian Dark Oil
                      .td.col_23
                        span 250
                        span.wide_hidden  мл
                      .td.col_24
                        span 850
                        span.wide_hidden  руб.
                      .td.col_25
                        .details_product_quantity
                          .valCell.input_w
                            input.f_input.f_input_v7.text_center(value='1' data-min='1' data-max='99' data-step='1' data-inputmask="'alias': 'numeric', 'rightAlign': false, 'allowMinus': false, 'allowPlus': false, 'autoGroup': false, 'groupSeparator': '', 'autoUnmask': true, 'digits': 0, 'placeholder': '0', 'repeat': 2, 'digitsOptional': false" )
                            span.btn_v4.counter_btn._minus.valMinus
                            span.btn_v4.counter_btn._plus.valPlus
                      .td.col_26
                        .order_price
                          span 510 000
                          span.wide_hidden  руб.

                      .td.col_27
                        span.cart_icon.i-remove
                      
                    .tr
                      .td.prod_cell.col_1
                        a.product_block(href='product.html')
                          .product_bg
                            img(src='i/oribe_gray_bg.jpg')
                          .product_img
                            img.shadowed(src='i/product_2.png')

                      .td.col_22 Alterna Caviar Anti-Aging Smoothing Hydra-Gelee Nourishing Hair Perfector
                      .td.col_23
                        span 1 000
                        span.wide_hidden  мл
                      .td.col_24
                        span 24 390
                        span.wide_hidden  руб.
                      .td.col_25
                        .details_product_quantity
                          .valCell.input_w
                            input.f_input.f_input_v7.text_center(value='1' data-min='1' data-max='99' data-step='1' data-inputmask="'alias': 'numeric', 'rightAlign': false, 'allowMinus': false, 'allowPlus': false, 'autoGroup': false, 'groupSeparator': '', 'autoUnmask': true, 'digits': 0, 'placeholder': '0', 'repeat': 2, 'digitsOptional': false" )
                            span.btn_v4.counter_btn._minus.valMinus
                            span.btn_v4.counter_btn._plus.valPlus
                      .td.col_26
                        .order_price
                          span 24 390
                          span.wide_hidden  руб.

                      .td.col_27
                        span.cart_icon.i-remove
                  
                  .order_controls
                    .order_controls_right
                      .order_summary
                        .order_summary_col
                          dl.order_summary_list
                            dt Позиции в заказе:
                            dd 45 шт.
                        
                            dt Товаров в заказе:
                            dd 65 шт.
                        
                        .order_summary_col
                          dl.order_summary_list
                            dt Сумма
                            dd._total 540 120 руб.
                        
                          a.btn_v1.order_btn.btn_black(href='#')
                            span Оформить заказ
                      
                    .order_controls_left
                      a.profile_settings_link(href='profile.html')
                        span.settings_icon.i-arrow_left
                        span Вернуться к составлению заказа
                    

      +footer()

    +scripts(2)
