include mixins.pug
doctype html
html(lang='ru')
  +dev_head('WIC product')

  body
    .wrapper
      .base
        +header()

        .main_content
          .section_inner
            .product_info
              .product_photo
                a.product_block(href='product.html')
                  .product_bg
                  .product_img.spotted
                    img.shadowed(src='i/orbi_big.png')
                  .product_tip._sale Sale

              .product_description
                .block_title Oribe Silverati Shampoo
                
                .product_volume
                  .fl
                    .input_w.select_box_v1
                      select.select2(data-placeholder='Выберите объем')
                        option(selected disabled)
                        option 1л
                        option 2л
                        option 3л
            
                .product_price
                  span 1 210 руб. 
                  span._old_price 1 420 руб.

                ul.product_options
                  li
                    .caption_tip Информация
                    
                    p Шампунь для окрашенных в пепельный и седых волос
                  
                  li
                    .caption_tip Характеристики
                    
                    dl.product_params
                      dt Тип средства
                      dd Уход и питание
                  
                      dt Бренд
                      dd Alterna
                      
                      dt Коллекция
                      dd Caviar Moisture
                  
                      dt Категория
                      dd Для волос
                      
                ul.product_description_footer
                  li
                    a.btn_black.btn_v1.product_btn(href='#')
                      span Купить
                    .product_quantity
                      .valCell.input_w
                        input.f_input.f_input_v4.text_center(value='1' data-min='1' data-max='99' data-step='1' data-inputmask="'alias': 'numeric', 'rightAlign': false, 'allowMinus': false, 'allowPlus': false, 'autoGroup': false, 'groupSeparator': '', 'autoUnmask': true, 'digits': 0, 'placeholder': '0', 'repeat': 2, 'digitsOptional': false" )
                        span.btn_v1.counter_btn._minus.valMinus
                        span.btn_v1.counter_btn._plus.valPlus
                        
                  li
                    a.btn_black_bd.btn_v1.product_btn(href='#')
                      span Отложить
                      
            .product_seo
              .product_seo_col._col_3
                .block_title Описание
                  
                p.lh_25 Ярко-красный гель-лак с микроблестками. Гель-лаки Shellac – это непревзойденное качество и запатентованная формула, подходящая не только для использования в профессиональных салонах красоты, но и в домашних условиях. Shellac – это яркая палитра цветов, каждый из которых уникален и неповторим и несомненно найдет массу поклонниц. Гель-лаки от CND отличаются легкостью нанесения, прекрасным блеском, практически без запаха. При этом нанесенное покрытие держится на ногтях несколько недель даже при частом взаимодействии с водой, что исключает необходимость частой коррекции маникюра. Покрытие Shellac устойчиво к истиранию, сколам и царапинам. Ваш маникюр будет безупречным и непревзойденным в течение длительного времени. Это идеальное средство для придания колорита даже ослабленным ногтям. В составе лаков нет химически вредных компонентов, часто вызывающих негативные реакции у клиентов, склонных к аллергии.
                  
            .block_title Связанные товары
              
            ul.filter_list._related
              li
                .product_unit._buy_box
                  a.product_block(href='product.html')
                    .product_bg
                      img(src='i/oribe_gray_bg.jpg')
                    .product_img
                      img.shadowed(src='i/product_1.png')
                      
                  .product_info
                    .product_name Oribe Signature Conditioner A Daily Indulgence
                    .product_price 1 090-5 250 руб.
                    p Кондиционер для ежедневного ухода "Вдохновения дня"

                    .product_buy_box
                      a.gl_link.show_more.addToCart(href='#')
                        span Добавить в корзину

              li
                .product_unit._buy_box
                  a.product_block(href='product.html')
                    .product_bg
                      img(src='i/oribe_gray_bg.jpg')
                    .product_img
                      img.shadowed(src='i/product_2.png')
                      
                  .product_info
                    .product_name Oribe Silverati Shampoo
                    .product_price 3 420 руб.
                    p Шампунь для окрашенных в пепельный и седых волос 

                    .product_buy_box
                      a.gl_link.show_more.addToCart(href='#')
                        span Добавить в корзину

              li
                .product_unit._buy_box
                  a.product_block(href='product_sale.html')
                    .product_bg
                      img(src='i/oribe_gray_bg.jpg')
                    .product_img
                      img.shadowed(src='i/product_4.png')
                    .product_tip._sale Sale
                      
                  .product_info
                    .product_name Sebastian Resintek Hypershine With Intense Memory Hold
                    .product_price
                      span 1 600 руб. 
                      span._old_price 2 000 руб.
                    p Жидкий воск для фиксации и текстуры

                    .product_buy_box
                      a.gl_link.show_more.addToCart(href='#')
                        span Добавить в корзину

              li
                .product_unit._buy_box
                  a.product_block(href='product_new.html')
                    .product_bg
                      img(src='i/oribe_gray_bg.jpg')
                    .product_img
                      img.shadowed(src='i/product_5.png')
                    .product_tip._new New
                      
                  .product_info
                    .product_name Lebel Proedit Bounce Fit Shampoo
                    .product_price 1 650 руб.
                    p Восстанавливающий шампунь для сильно поврежденных, сухих, лом...

                    .product_buy_box
                      a.gl_link.show_more.addToCart(href='#')
                        span Добавить в корзину
                        

      +footer()

    +scripts(2)
