include mixins.pug
doctype html
html(lang='ru')
  +dev_head('WIC profile')

  body
    .wrapper._profile
      .base
        +header()

        .main_content
          .section_inner
            .grid_row
              .grid_col._col_1._info_spacer
                +aside(1)
                        
              .grid_col._col_2: .profile_settings_holder
                .profile_settings_col.sameHeight
                  .profile_settings.footer_mod
                    .profile_settings_inner
                      .profile_caption.mod_1
                        span Салон красоты 
                        span.wide_hidden.mob_hidden <br>
                        span  Bella
                      
                        a.profile_collapse_btn.collapseLink.mob_only(href='#' data-collapse='collapse_1')
                        
                      dl.profile_settings_list.collapsed.mod_1(data-collapse='collapse_1')
                        dt адрес
                        dd 100000, Москва, ул. Добролюбова, д. 2Б
                        
                        dt телефон
                        dd +7 (495) 123 45 67
                        
                        dt email
                        dd info@mywellpoint.ru
                        
                        dt site
                        dd mywellpoint.ru
                        
                        dt пароль
                        dd ••••••••
                      
                    .profile_settings_inner.profile_settings_footer.collapsed(data-collapse='collapse_1')
                      a.profile_settings_link(href='#')
                        span Редактировать
                        
                .profile_settings_col.sameHeight
                  .profile_settings
                    .profile_settings_inner
                      dl.profile_settings_list
                        dt Баланс
                        dd 
                          span.profile_ballance 48 600 руб.
                      
                    .profile_settings_inner
                      a.profile_settings_link(href='#')
                        span Пополнить
                        
                  .profile_settings
                    .profile_settings_inner
                      dl.profile_settings_list
                        dt Баллы
                        dd 
                          span.profile_ballance 3 900
                      
                      p.clr_red +200 с последнего визита
                      
                  .profile_settings
                    .profile_settings_inner
                      dl.profile_settings_list
                        dt ваш менеджер
                        dd Алина Матвеева
                        
                        dt телефон
                        dd +7 (495) 123 45 67
                        
                        dt email
                        dd info@mywellpoint.ru
  
                    .profile_settings_inner
                      a.profile_settings_link(href='#')
                        span.wide_only Заказать 
                        span обратный звонок

              .grid_col._col_3._prevent_collapse
                .profile_msg_holder
                  span.msg_block_btn.wide_hidden.msgCloseBtn
                    span.i-exclamation
                  .profile_msg_block._warning.msgBlock
                    span.msg_close.msgCloseBtn
                    
                    .msg_title ! Заканчивается на складе
                    p 
                      a.msg_link(href='#') Alterna Caviar Anti-Aging Smoothing Hydra-Gelee Nourishing Hair Perfector, 1 000мл
                    p 
                      a.msg_link(href='#') Sebastian Resintek Hypershine With Intense Memory Hold, 75мл
                      
                    ul.msg_controls
                      li
                        a.btn_v3.btn_black.msg_btn(href='#')
                          span Показать
                        
                .profile_settings.collapseHolder
                  .profile_settings_inner._gray
                    .profile_caption
                      .fl Последние заказы
                      .fr.mob_hidden 
                        span.settings_collapse.collapseBtn._opened
                          span._on Скрыть
                          span._off Показать
                        
                  .collapseBlock.collapse_block
                    .profile_settings_inner
                      dl.profile_settings_list._reverse
                        dd Заказ 2365
                        dt в обработке
                        
                        dd Заказ 1869
                        dt в пути
                        
                        dd Заказ 867
                        dt доставлен
                        
                    .profile_settings_inner
                      a.profile_settings_link(href='#')
                        span Перейти в заказы
                        span.i-arrow_right.settings_icon
                      
                .profile_settings.collapseHolder
                  .profile_settings_inner._gray
                    .profile_caption
                      .fl Новинки
                      .fr.mob_hidden 
                        span.settings_collapse.collapseBtn._opened
                          span._on Скрыть
                          span._off Показать
                        
                  .collapseBlock.collapse_block._no_bdr
                    .profile_settings_inner
                      .profile_orders
                        .tr._head.mob_hidden
                          .th.col_1 &nbsp;
                          .th.col_2 Бренд
                          .th.col_3 Наименование
                          .th.col_4 
                            span Объём, 
                            span.wide_hidden <br>
                            span мл
                          .th.col_5 
                            span Цена, 
                            span.wide_hidden <br>
                            span руб.
                          .th.col_6 &nbsp;

                        .tr
                          .td.prod_cell.col_1
                            a.product_block(href='product.html')
                              .product_bg
                                img(src='i/oribe_gray_bg.jpg')
                              .product_img
                                img.shadowed(src='i/product_1.png')
                                
                          .td.col_2 Alterna Caviar
                          .td.col_3 Anti-Aging Smoothing Hydra-Gelee Nourishing Hair Perfector
                          .td.col_4.text_right
                            span 1 000
                            span.mob_only  мл
                          .td.col_5.text_right
                            span 24 390
                            span.mob_only  руб.
                          .td.col_6.text_right
                            span.i-cart.cart_icon
                          
                        .tr
                          .td.prod_cell.col_1
                            a.product_block(href='product.html')
                              .product_bg
                                img(src='i/oribe_gray_bg.jpg')
                              .product_img
                                img.shadowed(src='i/product_5.png')
                                
                          .td.col_2 Sebastian
                          .td.col_3 Dark Oil
                          .td.col_4.text_right
                            span 250
                            span.mob_only  мл
                          .td.col_5.text_right
                            span 2 430
                            span.mob_only  руб.
                          .td.col_6.text_right
                            span.i-cart.cart_icon
                          
                        .tr
                          .td.prod_cell.col_1
                            a.product_block(href='product.html')
                              .product_bg
                                img(src='i/oribe_gray_bg.jpg')
                              .product_img
                                img.shadowed(src='i/product_6.png')
                                
                          .td.col_2 CND
                          .td.col_3 Shellac Hollywood
                          .td.col_4.text_right
                            span 7.3
                            span.mob_only  мл
                          .td.col_5.text_right
                            span 850
                            span.mob_only  руб.
                          .td.col_6.text_right
                            span.i-cart.cart_icon
                          
                      .preloader_holder
                        a.preloader_link(href='#') Показать еще
                        .preloader.wide_only
                          img(src='i/preloader.svg' width=90)
                      
                .profile_settings.collapseHolder
                  .profile_settings_inner._gray
                    .profile_caption
                      .fl Специальные предложения
                      .fr.mob_hidden 
                        span.settings_collapse.collapseBtn._opened
                          span._on Скрыть
                          span._off Показать
                        
                  .collapseBlock.collapse_block._no_bdr
                    .profile_settings_inner
                      .profile_orders
                        .tr._head.mob_hidden
                          .th.col_1 &nbsp;
                          .th.col_2 Бренд
                          .th.col_3 Наименование
                          .th.col_4
                            span Объём, 
                            span.wide_hidden <br>
                            span мл
                          .th.col_5
                            span Цена, 
                            span.wide_hidden <br>
                            span руб.
                          
                          .th.col_6 &nbsp;

                        .tr
                          .td.prod_cell.col_1
                            a.product_block(href='product.html')
                              .product_bg
                                img(src='i/oribe_gray_bg.jpg')
                              .product_img
                                img.shadowed(src='i/product_2.png')
                                
                          .td.col_2 Alterna Caviar
                          .td.col_3 Anti-Aging Smoothing Hydra-Gelee Nourishing Hair Perfector
                          .td.col_4.text_right
                            span 1 000
                            span.mob_only  мл
                          .td.col_5.text_right
                            span 24 390
                            span.mob_only  руб.
                          .td.col_6.text_right
                            span.i-cart.cart_icon
                          
                        .tr
                          .td.prod_cell.col_1
                            a.product_block(href='product.html')
                              .product_bg
                                img(src='i/oribe_gray_bg.jpg')
                              .product_img
                                img.shadowed(src='i/product_3.png')
                                
                          .td.col_2 Sebastian
                          .td.col_3 Dark Oil
                          .td.col_4.text_right
                            span 250
                            span.mob_only  мл
                          .td.col_5.text_right
                            span 2 430
                            span.mob_only  руб.
                          .td.col_6.text_right
                            span.i-cart.cart_icon
                          
                        .tr
                          .td.prod_cell.col_1
                            a.product_block(href='product.html')
                              .product_bg
                                img(src='i/oribe_gray_bg.jpg')
                              .product_img
                                img.shadowed(src='i/product_4.png')
                                
                          .td.col_2 CND
                          .td.col_3 Shellac Hollywood
                          .td.col_4.text_right
                            span 7.3
                            span.mob_only  мл
                          .td.col_5.text_right
                            span 850
                            span.mob_only  руб.
                          .td.col_6.text_right
                            span.i-cart.cart_icon
                          
                      .preloader_holder
                        a.preloader_link(href='#') Показать еще
                        .preloader.wide_only
                          img(src='i/preloader.svg' width=90)
                    
      +footer()

    +scripts(2)
