@import "variables";

@font-face {
  font-family: 'wic_icons';
  src:  url('#{$icomoon-font-path}/wic_icons.eot?qh6jr6');
  src:  url('#{$icomoon-font-path}/wic_icons.eot?qh6jr6#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/wic_icons.ttf?qh6jr6') format('truetype'),
    url('#{$icomoon-font-path}/wic_icons.woff?qh6jr6') format('woff'),
    url('#{$icomoon-font-path}/wic_icons.svg?qh6jr6#wic_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wic_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-save {
  &:before {
    content: $i-save;
  }
}
.i-referral {
  &:before {
    content: $i-referral;
  }
}
.i-remove {
  &:before {
    content: $i-remove;
  }
}
.i-arrow_up {
  &:before {
    content: $i-arrow_up;
  }
}
.i-arrow_down {
  &:before {
    content: $i-arrow_down;
  }
}
.i-exclamation {
  &:before {
    content: $i-exclamation;
  }
}
.i-account {
  &:before {
    content: $i-account;
  }
}
.i-cart {
  &:before {
    content: $i-cart;
  }
}
.i-arrow_left {
  &:before {
    content: $i-arrow_left;
  }
}
.i-arrow_right {
  &:before {
    content: $i-arrow_right;
  }
}
.i-chevron_down {
  &:before {
    content: $i-chevron_down;
  }
}
.i-chevron_up {
  &:before {
    content: $i-chevron_up;
  }
}
.i-chevron_left {
  &:before {
    content: $i-chevron_left;
  }
}
.i-chevron_right {
  &:before {
    content: $i-chevron_right;
  }
}
.i-close {
  &:before {
    content: $i-close;
  }
}
.i-heart {
  &:before {
    content: $i-heart;
  }
}
.i-search {
  &:before {
    content: $i-search;
  }
}

