@font-face {
  font-family: 'wic_icons';
  src:  url('fonts/wic_icons.eot?7bzw7x');
  src:  url('fonts/wic_icons.eot?7bzw7x#iefix') format('embedded-opentype'),
    url('fonts/wic_icons.ttf?7bzw7x') format('truetype'),
    url('fonts/wic_icons.woff?7bzw7x') format('woff'),
    url('fonts/wic_icons.svg?7bzw7x#wic_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wic_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow_up:before {
  content: "\e90c";
}
.i-arrow_down:before {
  content: "\e90d";
}
.i-exclamation:before {
  content: "\e90b";
}
.i-account:before {
  content: "\e908";
}
.i-cart:before {
  content: "\e909";
}
.i-arrow_left:before {
  content: "\e900";
}
.i-arrow_right:before {
  content: "\e901";
}
.i-chevron_down:before {
  content: "\e902";
}
.i-chevron_up:before {
  content: "\e90a";
}
.i-chevron_left:before {
  content: "\e903";
}
.i-chevron_right:before {
  content: "\e904";
}
.i-close:before {
  content: "\e905";
}
.i-heart:before {
  content: "\e906";
}
.i-search:before {
  content: "\e907";
}
