$icomoon-font-path: "fonts" !default;

$i-account: "\e908";
$i-cart: "\e909";
$i-arrow_left: "\e900";
$i-arrow_right: "\e901";
$i-chevron_down: "\e902";
$i-chevron_up: "\e90a";
$i-chevron_left: "\e903";
$i-chevron_right: "\e904";
$i-close: "\e905";
$i-heart: "\e906";
$i-search: "\e907";

